div.bigcopy {
	font-size: modular-scale(0, 2.2rem);
	line-height: modular-scale(1, 2.2rem);
    // margin: 0 -5% 40px;
    font-size: 35px;
    line-height: 47px;
	@media #{$small-and-down} {
		font-size: 22px;
		line-height: 1.3;
	}
	p {
		font-size: modular-scale(0, 2.2rem);
        line-height: modular-scale(1, 2.2rem);
        font-size: 35px;
        line-height: 47px;
		@media #{$small-and-down} {
			font-size: 22px;
			line-height: 1.3;
			font-weight: 400;
		}
	}
	ol,
	ul {
		font-size: modular-scale(0, 2.2rem);
        line-height: modular-scale(1, 2.2rem);
        font-size: 35px;
        line-height: 47px;
		@media #{$bp-small} {
			font-size: modular-scale(0);
			line-height: modular-scale(0);
		}
	}
}

// MAIN ======
.main-content,
.blog-entry {
	h1, h2, h3, h4, h5, h6 {
		color: #444;
		margin-bottom: 10px;
		margin-top: 50px;
	}
	h1 {
		font-family: $main-headings;
		font-size: modular-scale(4, 1.4rem);	
		line-height: modular-scale(4, 1.3rem);
		font-weight: 600;
		color: #444;
	}
	h2 {
		font-family: $main-headings;
		font-size: modular-scale(3, 1.4rem);	
		line-height: modular-scale(3, 1.3rem);
		font-weight: 600;
		color: #444;
	}
	h3 {
		text-transform: uppercase;
		margin-bottom: 8px;
        font-family: $main-headings;
        font-size: 40px;
        line-height: 1.5;
		@media #{$mobile-landscape} {
		    margin-top: 20px;
		}
	}
	h5 {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	h6 {
		font-family: $lite-headings;
		font-size: modular-scale(0, 0.9rem); 
		line-height: modular-scale(0, 0.9rem); 
		margin-top: 20px;
	}
	p {
		margin-bottom: 20px;
		@media #{$small-and-down} {
			font-size: 18px;
			line-height: 1.3;
		}
		@media #{$medium-and-up} {
		    font-size: modular-scale(0, 1.5rem);
			line-height: modular-scale(1, 1.5rem);
			font-size: 22px;
			line-height: 1.5;
		}
		@media #{$mobile-landscape} {
			font-size: modular-scale(0, 1.3rem);
			line-height:modular-scale(1, 1.3rem);
		}
	}
}


span.stats_label,
span.bolded-text {
	font-family: $bold-font;
	font-weight: 800;
}

// SERVICES ==========================

.services-testimonial {
	blockquote {
		margin: 0;
		font-style: italic;
		font-weight: 400;
		font-family: $p-font;
		@media #{$small-and-down} {
			font-size: 24px;
			line-height: 1.5;
		}
		p {
			font-style: italic;
			font-size: modular-scale(1, 1.5rem);
			line-height: modular-scale(1, 1.6rem);
			font-weight: 400;
			font-family: $p-font;
			text-transform: none;
		}
		&:before {
		    content: '“';
		    position: absolute;
		    margin-left: -.4em;
		    font-size: modular-scale(4, 1.6rem);
		    font-family: $main-headings;
		    color: rgba(0,0,0,0.2);
		}

		&:after {
		    content: '”';
		    font-family: $main-headings;
		    color: rgba(0,0,0,0.2);
		}
	}
	h4 {
		margin: 0;
		margin-top: 25px;
		text-align: right;
		text-transform: uppercase;
	}
	h5 {
		text-align: right;
		margin: 0;
	}
	p.testimonial__caption {
		font-family: $lite-headings;
		padding-top: 5px;
		padding-left: 100px;
		text-align: right;
		text-transform: uppercase;
		font-size: modular-scale(0, 0.9rem);
		line-height: modular-scale(0, 1rem);
	}
}

#space-uptop {
	padding-top: 15px;
	margin-bottom: 0;
}

.services-cta {
	p {
		font-family: $lite-headings;
		font-size: modular-scale(2, 1.3rem);
        line-height: modular-scale(2, 1.3rem);
        font-size: 37px;
        line-height: 37px;
        margin: 0;
		@media #{$bp-small} {
			font-size: modular-scale(1, 1.3rem);
			line-height: modular-scale(1, 1.3rem);
		}
		@media #{$mobile-landscape} {
			font-size: modular-scale(1, 1.3rem);
			line-height: modular-scale(1, 1.3rem);
		}
	}
}

.services-cta__btn {
	font-family: $lite-headings;
	text-transform: uppercase;
	background-color: $black;
	color: $white;
	border: none;
	font-weight: bold;
	padding: 15px 30px;
	height: 60px;
	font-size: modular-scale(0, 1.1rem);
    line-height: modular-scale(0, 1.1rem);
    font-size: 18px;
    line-height: 18px;
    border: 1px solid $black;
    margin-top: 16px;
	// transition: all 0.2s;
	// letter-spacing: 1px;
	&:hover {
		border: 2px solid $black;
		color: $black;
		background-color: $white;
		// font-weight: 400;
	}
}

// PROJECTS ============================

.projects__panel {
	h2 {
		color: $white;
		font-size: modular-scale(3, 1.3rem);
		line-height:modular-scale(3);
		position: relative;
		transition: all 0.5s;
		@media #{$bp-med} {
			font-size: modular-scale(4, 1.3rem);
			line-height: modular-scale(4);
		}
		@media #{$bp-large} {
			font-size: modular-scale(5, 1.3rem);
			line-height: modular-scale(5);
		}
		@media #{$bp-xlarge} {
			font-size: modular-scale(6, 1.3rem);
			line-height: modular-scale(6);
		}
	}
}

.projects__panel-wrap {
	h2 {
		position: absolute;
		top: 30%;
		left: 5%;
		right: 5%;
		text-align: center;
        margin: 0 auto;
        color: $white;
        text-transform: uppercase;
        font-weight: normal;
		@media #{$bp-small} {
		    top: 40%;
		}
		@media #{$bp-med} {
		    font-size: modular-scale(3); 
			line-height: modular-scale(3); 
			top: 35%;
		}
		@media #{$bp-large} {
		    font-size: modular-scale(5); 
            line-height: modular-scale(5); 
            font-size: 101px;
            line-height: 101px;
		}
	}
}

span.stats_label,
span.bolded-text {
	// font-family: $bold-font;
	font-weight: 800;
}

#left p {
	line-height: modular-scale(0,1.2rem);
	margin-bottom: 10px;
	font-weight: 200;
}

.project__testimonial {
	.testimonial__quotation {
		@media #{$bp-small} {
			margin: 0 0 0 15px;
		    font-size: modular-scale(1, 1.1rem); 
		    line-height: modular-scale(1, 1.1rem); 
		}
	}
	.testimonial__creds {
		color: rgba(255,255,255,0.4);
		@media #{$bp-small} {
			h4 {
				margin-top: 20px;
				font-size: modular-scale(1, 1rem); 
				line-height: modular-scale(1, 1rem); 
			}
			h5 {
				font-size: modular-scale(0, 1rem); 
				line-height: modular-scale(0, 1rem);
			}
		}
	}
}

// BLOG

.blog-entry > p:first-child,
.blog-entry > blockquote:first-child {
	&::first-letter {
	    float: left; 
        font-size: 200px; 
        line-height: 180px;
        padding: 7px 25px 0px 0px;
        // font-family: $main-headings;
        @media #{$small-and-down} {
            font-size: 80px; 
			line-height: 80px;
            padding: 0 10px 0 5px;
            float: left;
        }
        @media #{$mobile-landscape} {
            font-size: modular-scale(3, 1.6rem);
            line-height: modular-scale(3, 1.6rem);
            padding: 0 10px 0 5px;
            float: left;
        }
	}
}

.blog-entry > blockquote:first-child,
.blog-entry > blockquote:first-child > p:first-child {
	&::first-letter {
	    float: left;
        font-size: 11.21766rem; 
        line-height: 0.8;
        padding: 22px 25px 0px 0px;
        @media #{$bp-small} {
            font-size: modular-scale(3);
            line-height: modular-scale(3);
            padding: 0 10px 0 5px;
            float: left;
        }
        @media #{$mobile-landscape} {
            font-size: 11.21766rem; 
            line-height: modular-scale(3, 1.6rem);
            padding: 0 10px 0 5px;
            float: left;
        }
	}
}