*, :after, :before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    
    // font-family: serif;
    font-family: $body-type;
    font-size: 18px;
    line-height:1.5;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    // line-height: 1.5rem;
    // overflow-x: hidden; //for the menu
    // overflow-y: auto; //for the menu
    font-family: $main-body-font;
    @media #{$medium-and-up} {
        font-size: 24px;
        line-height: 1.5rem;
    }
}

html.no-scroll-html, 
body.no-scroll-body {
    overflow: hidden !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-type;
    color: #666;
}

h1 {

}

h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

a {
    color: $main-accent;
    // font-size: 0.6rem !important;
    // line-height: 0.8rem !important;
    &:hover {
        color: lighten($main-accent, 5);
    }
}



body {
    margin: 0;
}

body.noscroll {
    overflow: none;
}

// blockquote {
//     padding-left: 24px;
//     margin-left: 24px;
//     border-left: 1px solid #e3e3e3;
//     color: #666;
// }

.main-wrapper {
	// overflow-x: hidden;
	// @include outer-container;
	@media #{$small-and-down} {
		padding: 0 30px;
    }
    @media #{$medium-and-up} {
		padding: 0 40px;
    }
}

.content-wrapper {
	padding-top: 120px;
	z-index: 998;
}

.main-content,
.blog-entry {
	position: relative;
	background-color: none;
    padding: 0;
    margin: 0 auto;
	@media #{$large-and-up} {
        max-width: 675px;
        padding: 50px 0;
    }
    img {
    	position: relative;
    	width: 100%;
		height: auto;
    }
}

// TYPE
.main-banner-content {
    color: white;
    position: relative;
    z-index: 500;
    display: inline-block;
    max-width: 960px;
    margin: 0 auto;
    // text-align: center;
    @media #{$large-and-up} {
        max-width: 1000px;
        width: 1000px;
        padding-left: 100px; 
        // display: block;
        // width: 1200px;
        // margin: 0 auto;
    }
    @media #{$xlarge-and-up} {
        display: block;
        width: 960px;
        margin: 0 auto;
    }
    h1, h2 {
        color: white;
    }
    h1 {
        /* position: relative; */
        font-size: 10vw;
        line-height: 11vw;
        padding-top: 130px;
        text-transform: uppercase;
        @media #{$medium-and-up} {
            font-size: 6vw;
            line-height: 6vw;
            padding-top: 160px;
        }
        @media #{$xlarge-and-up} {
            font-size: 64px;
            line-height: 64px;
        }
    }
    h2 {
        margin-top: 10px;
        width: 80%;
        font-weight: 300;
        line-height: 130%;
        font-family: $body-type;
        font-weight: 200;
        @media #{$small-and-down} {
            width: 95%;
            font-size: 5.5vw;
            line-height: 7vw;
        }
    }
    h2 p {
        margin-top: 10px;
        font-weight: 300;
        line-height: 130%;
        font-family: $body-type;
        font-weight: 200;
        @media #{$small-and-down} {
            width: 95%;
            font-size: 5.5vw;
            line-height: 7vw;
        }
    }
    .contentItalic,
    em {
        color: $white;
    }
}

.contentItalic,
em {
    color: #666;
}

.overview,
.overview p {    
    @media #{$medium-and-up} {
        font-size: 32px;
        line-height: 40px;
	}
}

// LAYOUT

.view {
    position: relative;
    z-index: 400;
}

.view--padding-top {
    padding-top: 100px;
}

.non-home-container {
    margin-top: 40px !important;
}

// TRANSITIONS
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .2s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.expand-enter-active, .expand-leave-active {
    transition-property: all;
    transition-duration: .25s;
}

.expand-enter, .expand-leave-active {
    transform: scale(0);
    opacity: 0;
}

// LOADING ANIMATION
// https://codepen.io/tinystride/pen/BNQMWM
@keyframes pulse {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
.loading-animation {
    position: fixed;
    background: $yellow;
    text-align: center;
    padding-top: 45vh; 
    height: 100vh;
    width: 100vw;
    z-index: 9001;
    .ldr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 2.5em;
        height: 2.5em;
    }

    .ldr-blk {
        height: 35%;
        width: 35%;
        animation: pulse 0.75s ease-in infinite alternate;
        background-color: darken(rgba(0,0,0,0.5), 15%);
    }

    .an_delay {
        animation-delay: 0.75s;
    }
}

.loading-animation.loading-animation--page {
    min-height: 70vh;
    padding-top: 10%; 
    background: $white;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}

// Third Party Component
.social-share-buttons {
    span {
        margin-left: 16px;
        display: inline-block;
        padding-top: 5px;
        @media #{$small-and-down} {
            margin-right: 16px;
            margin-left: 3px;
        }
        i {
             display: inline-block;
             margin-right: 3px;
        }
        &:hover {
            color: $main-accent;
            cursor: pointer;
        }
    }
}

// Header

figure {
    margin: 0;
}

.default-hero {
	h1 {
		font-size: modular-scale(3, 1.3rem);
		line-height:modular-scale(3, 1.3rem);
		margin: 0;
        padding-bottom: 0;
        text-transform: uppercase;
		color: $white;
        text-align: left;
        line-height: 1.3;
		@media #{$bp-small} {
			font-size: 32px;
		}
		@media #{$bp-xsmall} {
			font-size: modular-scale(2, 1.4rem);
			line-height:modular-scale(2, 1.4rem);
		}
		@media #{$bp-med} {
			font-size: modular-scale(4, 1.3rem);
			line-height:modular-scale(4, 1.3rem);
		}
		@media #{$mobile-landscape} {
			font-size: modular-scale(2, 1.3rem);
			line-height:modular-scale(2, 1.3rem);
		}
		@media #{$bp-large} {
			font-size: modular-scale(5, 1.2rem);
            line-height:modular-scale(5, 1.2rem);
            font-size: 81px;
            line-height: 81px;
		}
		@media #{$bp-xlarge} {
			font-size: modular-scale(6, 1.2rem);
			line-height:modular-scale(6, 1.2rem);
		}
	}
	h2,
	h2 p {
		font-family: $lite-headings;
		font-weight: 300;
		font-size: modular-scale(2, 1rem);
		line-height:modular-scale(2, 1rem);
		letter-spacing: 1px;
		text-align: left;
		margin: 0;
		@media #{$bp-small} {
			font-size: modular-scale(1, 0.9rem);
			line-height:modular-scale(1, 0.9rem);
	    }
	}
	h2 p {
		margin: 0;
	}
}

.home-hero,
.default-hero {
	width: 100%;
	background-position: center center;
	background-size: cover;
	display: flex;
    align-items: center;
    justify-content: center;
    em {
        color: $white;
    }
	.hgroup {
		
	}
}

.default-hero {
	width: 100%;
	min-height: 50vh;
    position: relative;
    @media #{$large-and-up} {
		min-height: 90vh;
	}
	@media #{$bp-xxlarge} {
		min-height: 50vh;
	}
	figure {
		position: absolute;
		top: 0;
		left: 0;
		background-position: center center;
		width: 100%;
		height: 100%; // or 100%?
		filter: grayscale(80%) brightness(0.6) opacity(1);
		z-index: 50;
	}
	.hgroup {
		position: relative;
		z-index: 51;
        margin-top: 150px;
		@media #{$small-and-down} {
			margin: 10%;
        }
        @media #{$medium-and-up} {
            margin-top: 50px;
            margin: 50px 10% 0;
        }
		@media #{$mobile-landscape} {
			margin-top: 10%;
		}
    }
    .hgroup.center-hgroup {
        text-align: center;
        h1 {
            text-align: center;
        }
    }
}

.default-hero .hgroup.service-hgroup {
    position: relative;
    z-index: 51;
    @media #{$bp-small} {
        margin-top: 150px;
    }
    @media #{$medium-and-up} {
        margin-top: 50px;
    }
    @media #{$mobile-landscape} {
        margin-top: 10%;
    }
    .service-banner__title {
        color: $white;
        margin: 0;
        font-family: $main-headings;
        text-transform: uppercase;
    }
    h1 {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.default-hero.no-banner {
	min-height: 50vh;
}

.default-hero.blog-index,
.default-hero.project-index {
	min-height: 80vh;
	@media #{$bp-small} {
		min-height: 50vh;
	}
}

.default-hero.project-index {
	.hgroup {
		margin: 50px auto 0;
		h1,
		h2 {
			text-align: center;
		}
		h2 {
			margin: 0 auto;
		}
	}
}

// LINE
.diagonal-svg__wrapper {
	position: relative;
	.diagonal-svg {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		@media #{$bp-small} {
			// 
		}
		#the-line {
			stroke: rgba(252, 216, 56, 1);
			stroke-width: 350;
			@media #{$bp-small} {
				stroke-width: 200;
				transform: rotate(-20deg);
			}
		}
	}
}

.blog-entry {
    p:first-child {
        margin-top: 0;
    }
	@media #{$bp-large} {
		padding: 50px 25px;
		// padding-right: 50px;
    }
}

// CONTACT
#info-window-content {
	@media #{$bp-xxlarge} {
		padding: 20px;
	}
}

#info-window-content {
	// background-color: $yellow;
	h3 {
		color: $black;
        font-size: 28px;
        font-weight: normal;
		margin: 0;
		@media #{$bp-small} {
			font-size: modular-scale(1, 1rem);
			line-height: modular-scale(1, 1rem);
		}
	}
	p,a {
		font-family: $main-headings;
		font-size: 21px;
		line-height: 1.3;
        margin-bottom: 0;
        font-weight: normal;
		@media #{$bp-small} {
			font-size: modular-scale(0, 1rem);
			line-height: modular-scale(0, 1.3rem);
		}
    }
    p {
        margin: 0;
    }
    a {
        color: #979797;
        text-decoration: none;
    }
}

// FORM

// vidpic shortcode

.vidpic-content.gallery__single {
	margin: 0 -30%;
	display: flex;
	align-items: center;
    justify-content: space-between;
    @media #{$small-and-down} {
		margin: 0;
		flex-direction: column;
		flex-wrap: wrap;
    }
    @media #{$medium-and-down} {
        margin: 25px 0;
        flex-direction: column;
		flex-wrap: wrap;
    }
    // @media #{$mobile-landscape} {
    //     flex-direction: column;
	// 	flex-wrap: wrap;
    // }
    @media #{$medium-and-up} {
        margin: 40px -25%;
        > .gallery__single-half {
            width: 50% !important;
        }
    }
}

.vidpic-content.gallery__single {
    .gallery__single-half.gallery-image.vidpic-vid {
        position: relative;
        width: 120%;
        height: 450px;
        -webkit-overflow-scrolling: touch;
		// @include flex(0 0 500px);
		flex: 0 0 500px;
        @media #{$small-and-down} {
            height: 250px;
            width: 100%;
            margin: 0 0 25px;
			// @include flex(0 0 300px);
			flex: 0 0 300px;
        }
        @media #{$medium-and-up} {
            height: 400px;
            width: 100%;
        }
        @media #{$bp-large} {
            height: 290px;
        }
        @media #{$bp-xlarge} {
            height: 300px;
        }
        iframe {
            position: relative;
            width: 100%;
            height: 100%;
            overflow-x:hidden;
            overflow-y:hidden;
        }
    }
}

.vidpic-content.gallery__single {
    .gallery__single-half.gallery-caption.vidpic-pic {
        background-color: transparent;
        padding: 0 0 0 20px;
		// @include flex(0 1 auto);
		flex: 0 1 auto;
        @media #{$bp-small} {
            margin: 0 0 25px;
            padding: 0;
        }
        img {
            width: auto;
            max-height: 280px;
            display: block;
            margin: 0 auto;
            @media #{$small-and-down} {
                width: 80%;
                max-height: auto;
            }
        }
    }
}

.blog-entry {
    .gallery__single:nth-child(even) .gallery__single-half.gallery-image {
        // @include order(2);
        order: 2;
        @media #{$bp-small} {
			// @include order(-1);
			order: -1;
        }
        @media #{$medium-and-down} {
			// @include order(-1);
			order: -1;
        }
        @media #{$mobile-landscape} {
			// @include order(-1);
			order: -1;
        }
        img {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .gallery__single:nth-child(even) .gallery__single-half.gallery-caption {
        padding-left: 0;
        padding-right: 20px;
    }
}

.bigvid {
	position: relative;
	width: 120%;
	height: 450px;
	margin: 25px -10%;
	-webkit-overflow-scrolling: touch;
	@media #{$bp-small} {
		height: 300px;
		margin: 25px -10%;
	}
	@media #{$bp-med} {
		height: 400px;
	}
	@media #{$bp-large} {
		height: 500px;
	}
	@media #{$bp-xlarge} {
		height: 500px;
	}
	iframe {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x:hidden;
		overflow-y:hidden;
	}
}

.contact__single__copy {
    img {
        display: block;
        margin: 0 auto;
    }
}

.split--content {
    width: 70%;
    >p:first-child {
        margin-top: 0;
    }
    li {
        margin-bottom: 16px;
    }
}