// Modular scale is in relation to 1.2rem = 22px
body {
	color: rgba(0,0,0,0.85);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-family: $title-font;
	font-style: normal;
	font-weight: 400;
	font-size: modular-scale(0, 3.33rem); //60px
	line-height: modular-scale(0, 3.44rem); //62px
	color: $white;
	text-transform: uppercase;
}

h2 {
	font-family: $main-headings;
	text-transform: uppercase;
	font-weight: 800;
	font-size: modular-scale(3, 1rem); //32px
	line-height: modular-scale(3, 1rem);
	// margin-bottom: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(5, 1.2rem); //32px
	    line-height: modular-scale(5, 1.2rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	@include media($bp-xlarge) {
	    font-size: modular-scale(6, 1.15rem); //32px
	    line-height: modular-scale(6, 1rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

a {
	text-decoration: none;
	color: #000;
}


blockquote {
	font-style: italic;
	font-size: modular-scale(3); 
	line-height: modular-scale(3); 
}

// MAIN ============================

main {
	p { 
		font-family: $main-body-font;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
		// letter-spacing: 1px;
		@include media($bp-large) {
		    font-size: modular-scale(0);
		    line-height: modular-scale(1, 1.4rem);
		}
	}
	p.no-space {
		margin-bottom: 0;
	}
}

// PROJECTS ============================

span.stats_label {
	font-family: $bold-font;
}


