// Modular scale is in relation to 1.2rem = 22px
body {
	color: rgba(0,0,0,0.85);
	font-family: $main-body-font;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $title-font;
}

h1 {
	color: $yellow;
	text-align: center;
	font-family: $main-headings;
	text-transform: uppercase;
	font-weight: 800;
	font-size: modular-scale(3, 1rem); //32px
	line-height: modular-scale(3, 1rem);
	// margin-bottom: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(4, 1.2rem); //32px
	    line-height: modular-scale(4, 1.2rem);
	    margin: 20px 100px;
	}
	@include media($bp-xlarge) {
	    font-size: modular-scale(5, 1.15rem); //32px
	    line-height: modular-scale(5, 1rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}

.home-hero {
	h1 {
		@include media($bp-large) {
		    font-size: modular-scale(7, 1.2rem); //32px
		    line-height: modular-scale(7, 1.2rem);
		    margin: 20px 100px;
		}
	}
}

h2 {
	font-family: $title-font;
	font-style: normal;
	font-weight: 400;
	font-size: modular-scale(1); 
	line-height: modular-scale(1); 
	color: $white;
	text-transform: uppercase;
	@include media($bp-large) {
	    font-size: modular-scale(3); 
		line-height: modular-scale(3); 
	}	
}

h3,
.project__testimonial blockquote {

	font-family: $main-headings;
	font-size: modular-scale(2); 
	line-height: modular-scale(2, 1.5rem); 

}

h4 {
	font-family: $main-headings;
	font-size: modular-scale(1); 
	line-height: modular-scale(1, 1.7rem); 
}

h5 {

}

h6 {

}

a {
	text-decoration: none;
	color: $grey;
}

ul {
	font-family: $main-body-font;
	font-weight: 200;
	font-size: modular-scale(0, 1.3rem); 
	line-height: modular-scale(1, 1.3rem); 
}

ul.post-categories {
	font-family: $main-body-font;
	padding: 0 0 0 10px;
	margin: 0;
	list-style-type: none;
	li {
		
	}
}


blockquote {
	font-style: italic;
	font-size: modular-scale(3); 
	line-height: modular-scale(3); 
}

figcaption {
	font-family: $main-body-font;
	font-size: modular-scale(0); 
	line-height: modular-scale(1); 
}

::selection {
	background-color: $yellow;
}

// MAIN ============================

.navigation {
	font-family: $main-headings;
}

main {
	p { 
		font-family: $main-body-font;
		font-weight: 200;
		margin-top: 0;
		margin-bottom: 30px;
		// letter-spacing: 1px;
		@include media($bp-large) {
		    font-size: modular-scale(0);
		    line-height: modular-scale(1);
		}
	}
	p.no-space {
		margin-bottom: 0;
	}
}

.main-content {
	h1, h2, h3, h4, h5, h6 {
		color: $black;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
	}
}

// CTAs =============================

// Call to Action Panels
.industry-cta {
	color: $black;
	text-align: center;
	p {
		font-size: modular-scale(0);
		color: $black;
		letter-spacing: 1px;
	}
	a {
		color: $black;
		font-weight: 300;
		border-bottom: none;
	}
	.cta-wrapper {
		margin: 0 15%;
		h2 {
			color: $black;
			text-transform: uppercase;
			font-weight: 400;
			font-size: modular-scale(2); 
			line-height: modular-scale(2, 1.6rem); 
			@include media($bp-small) {
				font-size: modular-scale(0, 1.3rem);
				line-height: modular-scale(1, 1.3rem);
			}
		}
	}
}

.cta-contact {
	text-align: center;
	margin-top: 25px;
	a:hover button {
		background-color: $white;
		p {
			color: $black;
		}
	}
	button {
		border: 1px solid $black;
		background-color: $black;
		padding: 15px 20px;
		transition: all 0.5s;
		p {
			color: $yellow;
			font-family: $lite-headings;
		}
	}
	p {
		text-transform: uppercase;
		margin-bottom: 0;
		font-size: modular-scale(0);
		line-height: modular-scale(0);
		@include media($bp-small) {
			font-size: modular-scale(0, 0.8rem);
			line-height: modular-scale(2);
		}
	}
}

// TEAM =============================

.team__creds {
	font-size: modular-scale(0);
}

.team__single {
	h3, 
	figcaption {
		margin-top: 20px;
	}
	figcaption {
		font-family: $main-body-font;
		font-weight: 200;
	}
}

// BLOG ==============================

.blog-entry {
	blockquote {
		font-family: $title-font;
		border-left: 4px solid $yellow;
		padding-left: 20px;
		font-size: modular-scale(1);
		line-height: modular-scale(2);
		
	}
	blockquote p {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
}

// PROJECTS ============================

.projects__panel {
	h2 {
		color: $white;
		font-size: modular-scale(6);
		line-height: modular-scale(6);
	}
}

span.stats_label,
span.bolded-text {
	font-family: $bold-font;
}

#left p {
	line-height: modular-scale(0,1.2rem);
	margin-bottom: 10px;
}


