// Modular scale is in relation to 1.1rem = 22px
body {
	color: rgba(0,0,0,0.85);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	// margin-bottom: 30px;
}

h1 {
	font-family: $title-font;
	font-style: normal;
	font-weight: 400;
	font-size: modular-scale(0, 3.33rem); //60px
	line-height: modular-scale(0, 3.44rem); //62px
	color: $white;
	text-transform: uppercase;
}

h1.title {
	float: left;
	@include media($bp-small) {
		font-size: modular-scale(3); 
		line-height: modular-scale(3); 
    }
}

h2 {
	font-family: $main-headings;
	text-transform: uppercase;
	font-weight: 800;
	font-size: modular-scale(3, 1rem); //32px
	line-height: modular-scale(3, 1rem);
	// margin-bottom: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(5, 1.2rem); //32px
	    line-height: modular-scale(5, 1.2rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	@include media($bp-xlarge) {
	    font-size: modular-scale(6, 1.15rem); //32px
	    line-height: modular-scale(6, 1rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}

h3 {
	font-family: $main-headings;
	font-style: normal;
	font-weight: 600;
	font-size: modular-scale(1, 1.1rem); //20px
	line-height: modular-scale(2, 1.25rem);
	text-transform: uppercase;
	@include media($bp-large) {
	    font-size: modular-scale(2, 1.25rem); //20px
	    line-height: modular-scale(3, 1.25rem);
	    margin-bottom: 15px;
	    padding-top: 20px;
	}
}

h4 {
	font-family: $main-headings;
	font-style: normal;
	font-weight: 300;
	font-size: modular-scale(0, 1.25rem); //20px
	line-height: modular-scale(1, 1.25rem);
	text-transform: uppercase;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(1, 1.25rem); //20px
	    line-height: modular-scale(2, 1.25rem);
	}
}

h5 {

}

h6 {

}

a {
	text-decoration: none;
	color: #000;
}

ul {
	font-family: $p-font;
	padding-bottom: 15px;
	font-size: modular-scale(0); 
	line-height: modular-scale(1); 
	li {
		font-weight: 300;
	}
}

blockquote {
	font-style: italic;
	font-size: modular-scale(3); 
	line-height: modular-scale(3); 
}

//h3.overview__tagline,
.overview__content h3 {
	font-family: $main-body-font;
	font-style: italic;
	font-weight: 300;
	font-size: modular-scale(0, 1.25rem); //20px
	line-height: modular-scale(1, 1.25rem);
	margin-bottom: 15px;
}

h3.tone__principals, 
h3.photography__principals,
h3.typography__fonts,
#templates ul li {
	font-weight: 300;
}

h3.tone__principals, 
h3.photography__principals,
h3.typography__fonts {
	// margin-top: 20px;
}

#templates ul li {
	line-height: modular-scale(2, 1.25rem);
}

// MAIN ============================

.font-sample {
 	margin: 0;
}

main {
	p { 
		font-family: $main-body-font;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
		// letter-spacing: 1px;
		@include media($bp-large) {
		    font-size: modular-scale(0);
		    line-height: modular-scale(1, 1.4rem);
		}
	}
	p.no-space {
		margin: 0;
	}
}

// SIDEBAR ============================




