// Modular scale is in relation to 1.2rem = 22px
body {
	// color: $d-grey;
	color: #444;
	font-family: $main-body-font;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: $grey;
	&:hover {
		// text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $title-font;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	color: $yellow;
	text-align: center;
	font-family: $main-headings;
	text-transform: uppercase;
	font-weight: 800;
	font-size: modular-scale(3, 1rem); //32px
	line-height: modular-scale(3, 1rem);
	margin-bottom: 20px;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(4, 1.2rem); //32px
	    line-height: modular-scale(4, 1.2rem);
	    margin: 20px 100px;
	}
	@include media($bp-xlarge) {
	    font-size: modular-scale(5, 1.15rem); //32px
	    line-height: modular-scale(5, 1rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}

.home-hero {
	h1 {
		@include media($bp-large) {
		    font-size: modular-scale(7, 1.2rem); //32px
		    line-height: modular-scale(7, 1.2rem);
		    margin: 20px 100px;
		    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
		}
	}
}

h2 {
	font-family: $title-font;
	font-style: normal;
	font-weight: 400;
	font-size: modular-scale(1); 
	line-height: modular-scale(1); 
	color: $white;
	text-transform: uppercase;
	@include media($bp-large) {
	    font-size: modular-scale(3); 
		line-height: modular-scale(3); 
	}	
}

h3,
.project__testimonial blockquote {

	font-family: $main-headings;
	font-size: modular-scale(2); 
	line-height: modular-scale(2, 1.5rem); 

}

h4 {
	font-family: $main-headings;
	font-size: modular-scale(1); 
	line-height: modular-scale(1, 1.7rem); 
}

h5 {

}

h6 {

}

ul,
ol {
	font-family: $main-body-font;
	font-weight: 400;
	font-size: modular-scale(0, 1.3rem); 
	line-height: modular-scale(1, 1.3rem); 
	@include media($bp-small) {
	    font-size: modular-scale(0, 1rem);
	    line-height: modular-scale(1, 1rem);
	}
	@include media($mobile-landscape) {
	    font-size: modular-scale(0, 1rem);
	    line-height: modular-scale(1, 1rem);
	}
}

ul.post-categories {
	font-family: $main-body-font;
	padding: 0 0 0 10px;
	margin: 0;
	list-style-type: none;
	li {
		
	}
}


blockquote {
	font-style: italic;
	font-family: $lite-headings;
	font-size: modular-scale(3, 1.6rem); 
	line-height: modular-scale(3, 1.6rem); 
}

figcaption {
	font-family: $main-body-font;
	font-size: modular-scale(0); 
	line-height: modular-scale(1); 
}

::selection {
	background-color: $yellow;
}

span.yellow-highlight {
	background-color: $yellow;
}

span.black-highlight {
	background-color: $black;
	padding: 5px 10px;
}

// HERO HEADERS

.home-hero,
.default-hero {
	h2 {
		color: $white;
		text-align: center;
		margin: 20px 125px;
		@include media($bp-large) {
		    font-size: modular-scale(5); 
			line-height: modular-scale(5); 
		}
	}
}

.home-hero {
	h2 {
		text-align: left;
	}
}

.default-hero {
	h1 {
		font-size: modular-scale(3, 1.3rem);
		line-height:modular-scale(3, 1.3rem);
		margin: 0 10%;
		padding-bottom: 0;
		color: $white;
		text-align: left;
		@include media($bp-med) {
			font-size: modular-scale(4, 1.3rem);
			line-height:modular-scale(4, 1.3rem);
		}
		@include media($bp-large) {
			font-size: modular-scale(5, 1.4rem);
			line-height:modular-scale(5, 1.4rem);
		}
		@include media($mobile-landscape) {
			font-size: modular-scale(2, 1.3rem);
			line-height:modular-scale(2, 1.3rem);
		}
	}
	h2 {
		font-family: $lite-headings;
		font-weight: 300;
		font-size: modular-scale(2, 1rem);
		line-height:modular-scale(2, 1rem);
		letter-spacing: 1px;
		text-align: left;
		margin: 0 20% 0 10%;
		@include media($bp-small) {
			font-size: modular-scale(1, 1rem);
			line-height:modular-scale(1, 1rem);
	    }
	}
}

.default-hero.blog-hero {
	h1 {
		font-size: modular-scale(3, 1.3rem);
		line-height:modular-scale(3, 1.3rem);
		margin: 0 10%;
		padding-bottom: 0;
		color: $white;
		text-align: left;
		@include media($bp-med) {
			font-size: modular-scale(4, 1.3rem);
			line-height:modular-scale(4, 1.3rem);
		}
		@include media($bp-large) {
			font-size: modular-scale(6, 1.3rem);
			line-height:modular-scale(6, 1.3rem);
		}
	}
	h2 {
		font-family: $lite-headings;
		p{
			font-family: $lite-headings;
		}
	}
}

// MAIN ============================

.navigation {
	font-family: $main-headings;
}

main {
	p { 
		font-family: $main-body-font;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 30px;
		// letter-spacing: 1px;
		@include media($bp-large) {
		    font-size: modular-scale(0, 1.6rem);
		    line-height: modular-scale(1, 1.6rem);
		}
	}
	p.no-space {
		margin-bottom: 0;
	}
}

.main-content,
.blog-entry {
	h1, h2, h3, h4, h5, h6 {
		// color: $black;
		color: #444;
		margin-bottom: 10px;
		margin-top: 50px;
	}
	h2 {
		font-family: $main-headings;
		font-size: modular-scale(4, 1.4rem);	
		line-height: modular-scale(4, 1.3rem);
		font-weight: 600;
		color: rgba(0,0,0,0.90);
	}
	h3 {
		@include media($mobile-landscape) {
		    margin-top: 20px;
		}
	}
	p {
		margin-bottom: 20px;
		@include media($bp-small) {
		    font-size: modular-scale(0, 1.4rem);
		    line-height: modular-scale(1, 1.4rem);
		}
		@include media($bp-med) {
		    font-size: modular-scale(0, 1.5rem);
		    line-height: modular-scale(1, 1.5rem);
		}
		@include media($mobile-landscape) {
			font-size: modular-scale(0, 1.3rem);
			line-height:modular-scale(1, 1.3rem);
		}
	}
}

.blog-entry p:first-child {
	&:first-letter {
	    float: left; 
        font-size: modular-scale(6); 
        line-height: modular-scale(5);
        padding: 7px 10px 0px 0px;
	}
}

.blog-entry.blog-page,
.main-content.about-page {
	blockquote {
		margin: 30px;
		margin-right: -10%;
		color: $black;
		background: $yellow;
		padding: 30px 25px 25px;
		border-left: 4px solid rgba(0,0,0,0.8);
		@include media($bp-small) {
			padding: 30px 25px 25px;
			margin: 10px;
	    }
		p {
			padding-left: 20px;
			font-family: $lite-headings;
			font-size: modular-scale(3, 1.2rem); 
			line-height: modular-scale(3, 1.2rem); 
			@include media($bp-small) {
				font-size: modular-scale(1, 1.3rem); 
				line-height: modular-scale(1, 1.5rem); 
		    }
		    @include media($mobile-landscape) {
		    	font-size: modular-scale(1, 1.3rem);
		    	line-height:modular-scale(1, 1.5rem);
		    }
			&:last-child {
				&:after {
				    // content: '”';
				    // font-size: modular-scale(2, 1.3rem);
				    // // color: rgba(0,0,0,0.3);
				    // @include media($bp-small) {
				    // 	font-size: modular-scale(1);
				    // }
				}
			}
		}
		&:before {
		    content: '“';
		    position: absolute;
		    margin: 10px -0.2em;
		    font-size: modular-scale(5, 1.8rem);
		    color: rgba(0,0,0,0.3);
		    @include media($bp-small) {
		    	font-size: modular-scale(6);
		    	margin-top: 15px 0 15px -1em;
		    }
		}
		// &:after {
		//     content: '”';
		//     font-size: modular-scale(2, 1.3rem);
		//     @include media($bp-small) {
		//     	font-size: modular-scale(1);
		//     }
		// }
	}
}

// CTAs =============================

// Call to Action Panels
.industry-cta {
	color: $black;
	text-align: center;
	p {
		font-size: modular-scale(0);
		color: $black;
		letter-spacing: 1px;
	}
	a {
		color: $black;
		font-weight: 300;
		border-bottom: none;
	}
	.cta-wrapper {
		margin: 0 15%;
		@include media($bp-small) {
			margin: 0 10%;
		}
		h2 {
			color: $black;
			text-transform: uppercase;
			font-weight: 400;
			font-size: modular-scale(2); 
			line-height: modular-scale(2, 1.6rem); 
			@include media($bp-small) {
				font-size: modular-scale(2, 1.3rem);
				line-height: modular-scale(2, 1.3rem);
			}
		}
	}
}

.cta-contact {
	text-align: center;
	margin-top: 25px;
	a:hover button {
	    -webkit-animation: pulse 1s;
	    animation: pulse 1s;
		background-color: $black;
		p {
			color: $yellow;
		}
	}
	button {
		border: 1px solid $black;
		background-color: $black;
		padding: 15px 20px;
		transition: all 0.5s;
		@include media($bp-small) {
			// padding: 10px;
		}
		p {
			color: $yellow;
			font-family: $lite-headings;
		}
	}
	p {
		text-transform: uppercase;
		margin-bottom: 0;
		font-size: modular-scale(0);
		line-height: modular-scale(0);
		@include media($bp-small) {
			font-size: modular-scale(1, 0.8rem);
			line-height: modular-scale(1, 0.8rem);
		}
	}
}

// TEAM =============================

h1.team__hero-heading {
	font-size: modular-scale(5, 1.3rem);
	line-height:modular-scale(5, 1.3rem);
	margin: 0 10%;
	padding-bottom: 0;
	color: $white;
}

h2.team__hero-subheading {
	font-family: $p-font;
	font-weight: 300;
	font-size: modular-scale(0, 1rem);
	line-height:modular-scale(1, 1rem);
	// text-transform: none;
	margin: 0 20% 0 12%;
	letter-spacing: 1px;
}

.team__name {
	font-size: modular-scale(3);
	line-height:modular-scale(2);
	position: relative;
	color: rgba(0,0,0,0.8);
	transition: all 0.5s;
	@include media($bp-med) {
		font-size: modular-scale(5);
		line-height: modular-scale(4);
	}
	@include media($mobile-landscape) {
		font-size: modular-scale(3);
		line-height: modular-scale(2);
	}
	@include media($bp-large) {
		font-size: modular-scale(7);
		line-height: modular-scale(6);
	}
	@include media($bp-xlarge) {
		font-size: modular-scale(8);
		line-height: modular-scale(7);
	}
}

.team__title {
	font-size: modular-scale(1);
	line-height:modular-scale(1);
	padding-left: 13px;
	color: rgba(0,0,0,0.8);
	transition: all 0.5s;
}

.team__creds {
	// position: absolute;
	// bottom: 20px;
	// right: -150px;
	font-size: modular-scale(0);
	line-height:modular-scale(0);
	color: rgba(0,0,0,0.8);
}

.team__single {
	h3, 
	figcaption {
		margin-top: 20px;
	}
	figcaption {
		font-family: $main-body-font;
		font-weight: 200;
	}
}

// BLOG ==============================

.blog-entry {
	blockquote {
		font-family: $title-font;
		border-left: 4px solid $yellow;
		padding-left: 20px;
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
	blockquote p {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
}

.blog-single-post {
	.blog-single__title {
		padding: 5px;
		&:hover {
			background-color: $yellow;
		}
	}
	ul.post-categories {
		padding: 0;
	}
}

.blog-single__date {
	font-family: $lite-headings;
}

// PROJECTS ============================

.projects__panel {
	h2 {
		color: $white;
		font-size: modular-scale(3, 1.3rem);
		line-height:modular-scale(3);
		position: relative;
		transition: all 0.5s;
		@include media($bp-med) {
			font-size: modular-scale(4, 1.3rem);
			line-height: modular-scale(4);
		}
		@include media($bp-large) {
			font-size: modular-scale(5, 1.3rem);
			line-height: modular-scale(5);
		}
		@include media($bp-xlarge) {
			font-size: modular-scale(6, 1.3rem);
			line-height: modular-scale(6);
		}
	}
}

span.stats_label,
span.bolded-text {
	font-family: $bold-font;
	font-weight: 800;
}

#left p {
	line-height: modular-scale(0,1.2rem);
	margin-bottom: 10px;
	font-weight: 200;
}

// CONTACT

#info-window-content {
	// background-color: $yellow;
	h3 {
		color: $black;
		font-size: modular-scale(2, 1rem);
		margin: 0;
	}
	p {
		font-family: $main-headings;
		font-size: modular-scale(1, 1rem);
		line-height: modular-scale(1, 1.3rem);
		margin-bottom: 0;
	}
}


