// Modular scale is in relation to 1.2rem = 22px
body {
	color: rgba(0,0,0,0.85);
	font-family: $main-body-font;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $main-body-font;
}

h1 {
	color: $yellow;
	text-align: center;
	font-family: $main-headings;
	text-transform: uppercase;
	font-weight: 800;
	font-size: modular-scale(3, 1rem); //32px
	line-height: modular-scale(3, 1rem);
	// margin-bottom: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	@include media($bp-large) {
	    font-size: modular-scale(4, 1.2rem); //32px
	    line-height: modular-scale(4, 1.2rem);
	    margin: 20px 100px;
	}
	@include media($bp-xlarge) {
	    font-size: modular-scale(5, 1.15rem); //32px
	    line-height: modular-scale(5, 1rem);
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}

h2 {
	font-family: $title-font;
	font-style: normal;
	font-weight: 400;
	font-size: modular-scale(3); 
	line-height: modular-scale(3); 
	color: $white;
	text-transform: uppercase;	
}

h3,
.project__testimonial blockquote {

	font-family: $main-headings;
	font-size: modular-scale(2); 
	line-height: modular-scale(2, 1.5rem); 

}

h4 {
	font-family: $main-headings;
	font-size: modular-scale(1); 
	line-height: modular-scale(1); 
}

h5 {

}

h6 {

}

a {
	text-decoration: none;
	color: #000;
}

ul.post-categories {
	font-family: $main-body-font;
	padding: 0 0 0 10px;
	margin: 0;
	list-style-type: none;
	li {
		
	}
}


blockquote {
	font-style: italic;
	font-size: modular-scale(3); 
	line-height: modular-scale(3); 
}

figcaption {
	font-family: $main-body-font;
	font-size: modular-scale(0); 
	line-height: modular-scale(1); 
}

::selection {
	background-color: $yellow;
}

// MAIN ============================

main {
	p { 
		font-family: $main-body-font;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
		// letter-spacing: 1px;
		@include media($bp-large) {
		    font-size: modular-scale(0);
		    line-height: modular-scale(1, 1.4rem);
		}
	}
	p.no-space {
		margin-bottom: 0;
	}
}

.main-content {
	h1, h2, h3, h4, h5, h6 {
		color: $black;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
	}
}

// TEAM =============================

.team__creds {
	font-size: modular-scale(0);
}

.team__single {
	h3, 
	figcaption {
		margin-top: 20px;
	}
}

// BLOG ==============================

.blog-entry {
	blockquote {
		font-family: $title-font;
		border-left: 4px solid $yellow;
		padding-left: 20px;
		font-size: modular-scale(1);
		line-height: modular-scale(2);
		
	}
	blockquote p {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
}

// PROJECTS ============================



span.stats_label,
span.bolded-text {
	font-family: $bold-font;
}


