@import '~/assets/sass/variables.scss';
@import '~/assets/sass/animate.scss';
@import '~/assets/sass/typography.scss';
@import '~/assets/sass/global.scss';

.contact-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 30px;
    @media #{$bp-large} {
        padding: 50px 10px;
		display: flex;
        justify-content: space-between;
        >div {
            width: 30%;
        }
	}
}

#contact-map {
	width: 100%;
	min-height: 80vh;
	@media #{$mobile-landscape} {
		min-height: 90vh;
	}
}

.contact__single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__single__copy {
    font-size: 21px;
    line-height: 1.3;
    margin-top: 60px;
    h4 {
        font-size: 32px;
        margin: 0;
        color: #444;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

.contact__single__buttons {
    text-align: center;
    button {
        font-family: "Audimat3000-Regulier",sans-serif;
        font-size: 24px;
        width: 90%;
        height: 60px;
        padding: 10px 15px;
        color: #fcd838;
        margin-top: 20px;
        background-color: #000;
        border: none;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: #000;
            background: #fcd838;
        }
    }
    a, h3 {
        text-decoration: none;
        font-family: 'Audimat3000-Leger',sans-serif;
        color: $grey;
        transition: color .2s;
        &:hover {
            color: $d-grey;
        }
    }
    h3 span {
        border-bottom: 1px solid grey;
    }
}


.infowindow {
    margin: 20px 10px;
}
a.info {
    font-family: $main-body-font;
    font-size: 16px;
    transition: color .2s;
}
a.info:hover {
    color: $black;
}
p.info {
    color: $black;
    font-size: 22px;
    font-family: $heading-type;
    margin: 0;
    margin-bottom: 5px;
}
.gm-ui-hover-effect {
    opacity: 0;
}