@import '~/assets/sass/variables.scss';
@import '~/assets/sass/typography.scss';
@import '~/assets/sass/global.scss';

.blog-single-post {
    a {
        text-decoration: none;
        display: inline-block;
        // border-bottom: 2px solid $yellow;
        &:hover {
            h3 {
                color: $yellow;
            }  
        }
    }
    h3 {
        line-height: 1.3;
        margin-bottom: 16px;
        
    }
    padding-bottom: 100px;
    &:not(:last-child) {
        border-bottom: 1px solid #e2e2e2;
    }
    
}

.single-post__read-more {
    color: $black;
    border-bottom: 2px solid $yellow;
    float: right;
}

.single-blog-view {
    .blog-entry {
        // padding-top: 0;
    }
    .blog-wrapper {
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // padding-top: 50px;
        .blog-entry {
            // margin: 0;
        }
        aside {
            // margin-right: 40px;
            // max-width: 150px;
            // text-align: right;
            // font-size: 14px;
            // line-height: 1.3;
            @media #{$large-and-up} {
                width: 15%;
                display: inline-block;
            }
            p {
                margin: 0;
            }
            .bolded-text {
                font-size: 20px;
                line-height: 1.3;
            }
            .post-authors {
                font-size: 14px;
                line-height: 0.8;
            }
        }
    }
}

.prev-next-links {
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $yellow;
    a{
        text-decoration: none;
    }
	.blog-nav__arrow {
		background-color: $yellow;
        padding: 20px;
        &:hover {
            background: $black;
            p {
                color: $yellow;
            }
        }
		p {
            text-align: center;
			margin: 0;
            color: $black;
            font-weight: 600;
		}
        .top{
            font-size: 80%;
            font-weight: 300;
        }
	}
}