@import '~/assets/sass/variables.scss';
@import '~/assets/sass/animate.scss';
@import '~/assets/sass/typography.scss';
@import '~/assets/sass/global.scss';

.projects__panel-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;	
}

.projects__panel-link {
    width: 100%;
    &:hover .projects__panel-wrap {
        .color-overlay {
            opacity: 0;		
        }
        .projects__panel-img { 
            filter: grayscale(0.8);
            background-blend-mode: normal;
            filter: brightness(0.7);
        }
    }
}

.projects__panel-wrap {
    
    h2 {
        z-index: 35;
    }
    position: relative;
    height: 300px;
    @media #{$bp-small} {
        height: 150px;
    }
    @media #{$bp-med} {
        height: 200px;
    }
    @media #{$bp-large} {
        height: 300px;
    }
    .color-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(252, 216, 56, 0.7);
        filter: brightness(70%);
        position: relative;
        top: 0;
        left: 0;
        z-index: 30;
    }
    .projects__panel-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        // transition: all 0.2s;
        padding: 25px;
        filter: brightness(80%);
        filter: grayscale(80%);
        background-blend-mode: hard-light;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 29;
    }
}
aside {
    @media #{$bp-small} {
        padding-top: 50px;
        padding-bottom: 25px;
        display: block;
        border-right: none;
        border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    }
    @media #{$bp-med} {
        padding-top: 50px;
        padding-bottom: 25px;
        display: block;
        border-right: none;
        border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    }
    @media #{$bp-large} {
        // @include span-columns(2);
        // @include shift(0);
        height: 100%;
        margin-top: 50px;
        padding-top: 5px;
        padding-right: 30px;
        text-align: right;
        border-right: 4px solid rgba(0, 0, 0, 0.8);
        border-bottom: none;
    }
}

.main-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

aside p {
    font-size: 16px;
    line-height: 16px;
}

.main-wrapper {
    aside { 
        @media #{$medium-and-up} {
            width: 15%;
            display: inline-block;
        }
    }
    .blog-entry {
        margin-top: 40px;
        @media #{$medium-and-up} {
            display: inline-block;
            width: 80%;
            vertical-align: top;
            margin-top: 0px;
        }
        a {
            color: $black;
            text-decoration: none;
            position: relative;
            &:hover {

                &::after {
                   height: 5px; 
                }
                // background: #444;
                // color: $white;
            }
            &::after {
                content: "";
                transition: all .2s;
                position: absolute;
                height: 2px;
                bottom: -1px;
                left: 0;
                right: 0;
                background: $black;
                width: 100%;
            }
        }
    }
}

.project__testimonial {
    background-color: rgba(0,0,0,0.9);
    padding: 50px 10%;
    margin: 0 0 50px;
}

.testimonial__creds {
    text-align: right;
    padding-right: 50px;
    @media #{$bp-small} {
        padding-right: 20px;
    }
}

.project__testimonial {
    .testimonial__quotation {
        @media #{$bp-small} {
            margin: 0 0 0 15px;
            font-size: modular-scale(1, 1.1rem); 
            line-height: modular-scale(1, 1.1rem); 
        }
    }
    .testimonial__creds {
        color: rgba(255,255,255,0.4);
        @media #{$bp-small} {
            h4 {
                margin-top: 20px;
                font-size: modular-scale(1, 1rem); 
                line-height: modular-scale(1, 1rem); 
            }
            h5 {
                font-size: modular-scale(0, 1rem); 
                line-height: modular-scale(0, 1rem);
            }
        }
    }
}

// SINGLE PROJECT ============================

// Project Testomonial

.project__testimonial {
    @media #{$bp-small} {
        font-size: modular-scale(2);
    }
    @media #{$mobile-landscape} {
        font-size: modular-scale(2);
    }
    blockquote {
        color: $white;
        &:before {
            content: '“';
            position: absolute;
            margin: -40px -0.5em;
            font-size: 200px;
            color: rgba(255,255,255,0.3);
            @media #{$bp-small} {
                font-size: modular-scale(5);
                margin: 10px -0.5em;
            }
        }
        &:after {
            content: '”';
            font-size: modular-scale(2, 1.3rem);
            color: rgba(255,255,255,0.3);
            @media #{$bp-small} {
                font-size: modular-scale(1);
            }
        }
    }
    h4, h5 {
        margin: 0;
    }
    h4 {
        font-size: 32px;
    }
    h5 {
        font-size: 13px;
        line-height: 13px;
        margin-top: 4px;
    }
}

.project-nav__arrow {
    p {
        margin: 0;
        font-family: $main-headings;
        @media #{$medium-and-down} {
            font-size: 14px;
        }
    }
}

//  Arrow Buttons

.project-nav {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$small-and-down} {
       justify-content: center;
    }
    a {
        &:hover {
            .project-nav__arrow {
                color: $black;
                background-color: $yellow;
            }
        }
    }
}

.project-nav__arrow {
    position: relative;
    width: 150px;
    height: 50px;
    // margin-left: 40px;
    color: $black;
    background-color: white;
    text-align:center;
    // line-height:40px;
    border: 2px solid $black;
    // @include flexboxcenter;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s;
    @media #{$bp-med} {
        width: 200px;
        height: 80px;
    }
    @media #{$bp-large} {
        width: 400px;
        height: 100px;
    }
}

.project-nav__arrow--prev {
    margin: 0 10px 0 0;
    @media #{$bp-small} {
        margin-right: 0px;
    }
    @media #{$bp-small} {
        margin-bottom: 10px;
    }
    @media #{$bp-med} {
        margin-bottom: 0;
    }
}

.project-nav__arrow--next {
    margin: 0 0 0 10px;
    @media #{$bp-small} {
        margin-left: 0px;
    }
}

.project__testimonial blockquote {
    font-family: $main-headings;
    @media #{$medium-and-up} {
        font-size: 43px; 
        line-height: 1;
        font-style: italic; 
    }
}

// Pictures
// Keeping type styles in here
//  part of 'template-part-gallery.php'

.project__gallery {
    width: 100%;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    @media #{$bp-small}  {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-large}  {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 50px 20px;
    }
    // @include media($tablet-landscape) {
    //     padding: 0 50px;
    // }
}

.gallery__single {
    display: flex;
    margin: 0 0 30px;
    position: relative;
    flex: 0 0 100%;
    align-items: flex-start;
    flex-direction: column;
    @media #{$bp-small}  {
        flex: 1 0 auto;
        flex-direction: column;
    }
    @media #{$bp-med}  {
        flex: 1 0 auto;
        flex-direction: column;
    }
    @media #{$bp-med}  {
        flex: 1 0 auto;
        flex-direction: column;
    }
    @media #{$bp-large}  {
        flex-direction: row;
    }
}

.gallery__single-half {
    position: relative;
    @media #{$bp-small}  {
        flex: 1 0 auto;
    }
    @media #{$bp-med}  {
        flex: 1 0 auto;
    }
    @media #{$bp-med}  {
        flex: 1 0 auto;
    }
    @media #{$bp-large}  {
        flex: 0  0 50%;
    }
}

.gallery__single-half.gallery-image {
    position: relative;
    @media #{$bp-small}  {
        display: flex;align-items:center;justify-content: center;
    }
    @media #{$bp-med}  {
        display: flex;align-items:center;justify-content: center;
    }
    @media #{$bp-med}  {
        display: flex;align-items:center;justify-content: center;
    }
    img {
        position: relative;
        width: 100%;
        max-height: auto;        
    }
}

.gallery__single-half.gallery-caption {
    position: relative;
    background-color: rgba(0,0,0,0.9);
    padding: 40px;
    color: $white;
    @media #{$bp-small}  {
        padding: 30px;
    }
    p {
        margin: 0;
        // font-size: modular-scale(0, 1rem);
        // line-height: modular-scale(1, 1rem);
        font-weight: 300;
        font-family: $lite-headings;
        font-size: 0.8rem;
        font-style: italic;
        @media #{$bp-small}  {
            // font-size: modular-scale(0, 1rem);
            // line-height: modular-scale(1, 1rem);
        }
    }
}

.gallery__single:nth-child(even) .gallery__single-half.gallery-image {
    order: 2;
    @media #{$bp-small}  {
        order: -1;
    }
    @media #{$bp-med}  {
        order: -1;
    }
    @media #{$bp-med}  {
        order: -1;
    }
    img {
        padding-right: 0;
        padding-left: 0;
    }
}

// in-content pictures
#in-content.gallery__single {
    margin: 0 -20%;
    @media #{$bp-small}  {
        margin: 20px 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        margin: 50px -20% 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-large}  {
        margin: 50px -20%;
    }
}

// vidpic shortcode

.vidpic-content.gallery__single {
    margin: 0 -30%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$bp-small}  {
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        margin: 25px 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-med}  {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media #{$bp-large}  {
        margin: 40px -25%;
    }
}

.vidpic-content.gallery__single {
    .gallery__single-half.gallery-image.vidpic-vid {
        position: relative;
        width: 120%;
        height: 450px;
        -webkit-overflow-scrolling: touch;
        flex: 0 0 500px;
        @media #{$bp-small}  {
            height: 300px;
            width: 100%;
            margin: 0 0 25px;
            flex: 0 0 300px;
        }
        @media #{$bp-med}  {
            height: 400px;
            width: 100%;
        }
        @media #{$bp-large}  {
            height: 290px;
        }
        @media #{$bp-xlarge}  {
            height: 300px;
        }
        iframe {
            position: relative;
            width: 100%;
            height: 100%;
            overflow-x:hidden;
            overflow-y:hidden;
        }
    }
}

.vidpic-content.gallery__single {
    .gallery__single-half.gallery-caption.vidpic-pic {
        background-color: transparent;
        padding: 0 0 0 20px;
        flex: 0 1 auto;
        @media #{$bp-small}  {
            margin: 0 0 25px;
            padding: 0;
        }
        img {
            width: auto;
            max-height: 280px;
        }
    }
}

.blog-entry {
    .gallery__single:nth-child(even) .gallery__single-half.gallery-image {
        order: 2;
        @media #{$bp-small}  {
            order: -1;
        }
        @media #{$bp-med}  {
            order: -1;
        }
        @media #{$bp-med}  {
            order: -1;
        }
        img {
            padding-right: 0;
            padding-left: 0;
        }
        
    }
    .gallery__single:nth-child(even) .gallery__single-half.gallery-caption {
        padding-left: 0;
        padding-right: 20px;
    }
}

// New Gallery
.gallery__single {
    margin: 0 0 30px;
	position: relative;
	display: flex;
    flex-direction: column;
    @media #{$medium-and-down} {
        flex-direction: column;
    }
    @media #{$medium-and-up} {
        flex-direction: column;
    }
    @media #{$large-and-up} {
        flex-direction: row;
    }
}

.gallery__single:nth-child(even) .gallery__single-half.gallery-image {
    order: 2;
    @media #{$medium-and-down} {
        order: 2;
    }
	@media #{$medium-and-up} {
        order: 2;
    }
    img {
        padding-right: 0;
        padding-left: 0;
    }
}