
.leadership-banner,
.foundation-banner {
    background: $yellow;
    background: #ffd200;
	text-align: center;
	padding: 24px 0;
	position: relative;
    h3 {
        margin: 0;
    }
    &:after {
		content:'';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -30px;
		width: 0;
		height: 0;
		border-top: solid 30px #ffd200;
		border-left: solid 30px transparent;
		border-right: solid 30px transparent;
    }
}

.foundation-banner {
    background: $white;
    position: relative;
    z-index: 30;
    &:after {
		border-top: solid 30px $white;
		border-left: solid 30px transparent;
		border-right: solid 30px transparent;
    }
}

.leadership-banner {
    margin-bottom: 30px;
    &:after {
		content:'';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -30px;
		width: 0;
		height: 0;
		border-top: solid 30px #ffd200;
		border-left: solid 30px transparent;
		border-right: solid 30px transparent;
    }
}

.team__container--leadership {
    
}

// .team__container--foundation {
//     h3,h4 {
//         margin: 0;
//     }
//     h3 {
//         margin-top: 10px;
//     }
//     h4 {
//         font-weight: normal;
//         font-size: 18px;
//         line-height: 1;
//     }
//     >div {
//         width: 25%;
//         display: inline-block;
//     }
// }

.portrait {
    img {
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.team__name,
.team__creds {
    display: inline-block;
    margin: 0;
}

.team__creds {
    font-size: 12px;
    font-family: $main-headings;
    line-height: 1;
}


// .team__container--foundation {
//     // max-width: 1024px;
//     margin: 0 auto;
// }

.team__single {

}

// .team__container--foundation {
//     .team__single {
//         &:hover {
//             cursor: pointer;
//             background: rgba(0, 0, 0, 0.05);
//         }
//     }
// }

.portrait {
    position: relative;
}

.team__container.team__container--leadership,
.team__container.team__container--foundation {
	position: relative;
	padding: 0;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    >div {
        width: 100%;
    }
	.team__single {
        background-color: $yellow;
        background-color: #ffd200;
        background-position: top right;
        background-repeat:no-repeat;
		position: relative;
		min-height: 150px;
		width: 100%;
		// margin-bottom: 25px;
		// transition: all 0.5s;
		border-bottom: 2px solid $black;
		display:flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        @media #{$medium-and-up} {
			min-height: 250px;
			border-bottom: 0;
		}
		@media #{$large-and-up} {
			min-height: 300px;
			border-bottom: 0;
		}
		&:hover {
			cursor: pointer;
            background-color: $black;
            background-color: #ffd200;
			.hgroup h3,
			.hgroup h4,
			.team__creds {
				color: $yellow;
			}
			@media #{$bp-small} {
				background-color: $yellow;
				.hgroup h3,
				.hgroup h4,
				.team__creds {
					color: $black;
				}
			}
		}
		figure {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 100%;
			filter: grayscale(100%) brightness(0.9);
			z-index: 3;
		}
		.hgroup {
			position: relative;
			padding: 0 25px;
			z-index: 4;
			// transition: all 0.5s;
		}
	}
}

.team__single--leadership,
.team__single--foundation {
    position: realative;
    &:hover {
        .team-overlay {
            background: rgba(0,0,0,0.5);
        }
        h3, h4, .team__creds {
            color: $yellow;
        }
    }
    .team-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);

        background: transparent;
        // transition: all 0.5s ease;
    }
    h3, h4, .team__creds {
        color: $yellow;
        color: $black;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        @media #{$medium-and-up} {
			font-size: 70px;
            line-height: 70px;
        }
        @media #{$large-and-up} {
			font-size: 135px;
            line-height: 135px;
        }
        @media #{$xlarge-and-up} {
			font-size: 130px;
            line-height: 130px;
            margin: 0;
		}
    }
    h4 {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
        @media #{$small-and-down} {
            font-family: 'Audimat3000-Leger';
        }
        @media #{$medium-and-up} {
			font-size: 32px;
            line-height: 32px;
            margin: 0;
        }
    }
    .team__creds {
        font-size: 14px;
        line-height: 14px; 
        @media #{$small-and-down} {
            margin-bottom: 4px;
        }
        @media #{$medium-and-down} {
            display: block;
            // margin-bottom: 10px;
        }
        @media #{$medium-and-up} {
			font-size: 24px;
            line-height: 24px; 
            margin: 0;
        }
    }
}

#member-373 h3,
#member-377 h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    @media #{$medium-and-up} {
        font-size: 60px;
        line-height: 60px;
    }
    @media #{$large-and-up} {
        font-size: 120px;
        line-height: 120px;
        margin: 0;
    }
    @media #{$xlarge-and-up} {
        font-size: 130px;
        line-height: 130px;
        margin: 0;
    }
}

#member-376 h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    @media #{$medium-and-up} {
        font-size: 60px;
        line-height: 60px;
    }
    @media #{$large-and-up} {
        font-size: 100px;
        line-height: 100px;
        margin: 0;
    }
    @media #{$xlarge-and-up} {
        font-size: 110px;
        line-height: 110px;
        margin: 0;
    }
}

#member-496 {
    h3 {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        @media #{$medium-and-up} {
            font-size: 60px;
            line-height: 60px;
        }
        @media #{$large-and-up} {
            font-size: 95px;
            line-height: 95px;
            margin: 0;
        }
        @media #{$xlarge-and-up} {
            font-size: 110px;
            line-height: 110px;
            margin: 0;
        }
    }
    .team__creds {
        @media #{$medium-and-up} {
			font-size: 22px;
            line-height: 22px; 
            margin: 0;
        }
    }
}

#member-477,
#member-370 {
    h4 {
        font-size: 11px;
        line-height: 11px;
        margin: 0;
        @media #{$medium-and-up} {
			font-size: 32px;
            line-height: 32px;
            margin: 0;
        }
    }
}

#member-367 h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    @media #{$medium-and-up} {
        font-size: 60px;
        line-height: 60px;
    }
    @media #{$large-and-up} {
        font-size: 120px;
        line-height: 120px;
        margin: 0;
    }
    @media #{$xlarge-and-up} {
        font-size: 130px;
        line-height: 130px;
        margin: 0;
    }
}

.team__single--foundation {
    .team-overlay {
        background: transparent;
    }
    h3, h4, .team__creds {
        color: $black;
    } 
}


.drop-down-panel {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: $black;
    // transition: all 0.5s ease;
    .knolling-pic {
        max-width: 100%;
        height: auto;
        @media #{$large-and-up} {
			max-width: 1300px;
            margin: 0 auto 0px;
            display: block;
        }
    }
    .push__longbio {
        padding: 24px 40px;
        @media #{$medium-and-up} {
			padding: 50px;
        }
        @media #{$xlarge-and-up} {
            padding: 50px;
            max-width: 1200px;
            margin: 0 auto;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .split {
        @media #{$medium-and-up} {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
			.split--image {
                width: 35%;
                img {
                    // width: 
                }
            }
            .split--content {
                width: 60%;
            }
		}
    }
    .button__container {
        text-align: right;
    }
	button {
		// display: none;
		color: $black;
		background-color: $yellow;
		border: none;
		padding: 20px 40px;
		margin-top: 25px;
		font-family: $lite-headings;
        font-size: modular-scale(1);
        font-size: 24px;
		&:hover {
			background-color: darken($yellow, 10%); 
		}
		@media #{$bp-small} {
			display: block;
			padding: 10px 15px;
			font-size: modular-scale(0);
		}
	}
}

.drop-down-panel.open-dropdown {
    button {
		// display: none;
		color: $yellow;
		background-color: $black;
        border: none;
        position: fixed;
        top: 50%;
        right: 0;
		padding: 16px;
		margin-top: 0px;
		font-family: $lite-headings;
        font-size: 18px;
        z-index: 1000000001;
		&:hover {
            background-color: darken($yellow, 10%); 
            color: $black;
            cursor: pointer;
		}
		@media #{$bp-small} {
			display: block;
			padding: 10px 15px;
			font-size: modular-scale(0);
		}
	}
}



#video1,
.team-vid {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: auto;
    opacity: 0;
    opacity: 1;
    z-index: 1000000000;
    transition: all 0.5s ease;
}

.split--image {
    position: relative;
    &:hover {
        #video1,
        .team-vid {
            opacity: 1;
        }
    }
}

.drop-down-panel--leader.open-dropdown,
.drop-down-panel--foundation.open-dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hi;
    color: $black;
}

// .team__container--foundation {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// .team__single--foundation {
//     width: 25vw;
//     height: 25vw;
// }


.base-image {
    position: relative;
    img {
        max-height: 470px;
    }
}

.pulse {
    // margin:100px;
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 10000;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ffd200;;
    cursor: pointer;
    box-shadow: 0 0 0 #ffd200;
    animation: pulse 1.5s infinite;
    i {
        font-size: 12px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 8px;
        height: 8px;
        opacity: 0.6;
    }
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  .team__single--foundation,
  .team__single--leadership {
    background-size: 60%;
    @media #{$medium-and-up} {
		background-size: auto 500px;
    }
    @media #{$xlarge-and-up} {
		background-size: auto 500px;
	}
}


