.sidebar__button {
	border: 1px solid $black;
	padding: 10px 15px;
	margin-top: 20px;
}

// Banner Badges

#banner-badge,
#home-badge {
  width: 300px;
  // max-width: 1000px;
  height: 80px;
  margin: 40px auto; 
  position: absolute;
  top: 50px;
  right: 10%;
  z-index: 901;
  @include media($bp-small) {
    width: 200px;
    left: 10%;
    top: 80%;
    margin: 0 auto;
    height: 90px
  }
}

#banner-badge > div,
#home-badge > div {
  height: 50px;
  @include media($bp-small) {
    height: 60px
  }
}

#main-badge {
  background: $yellow; 
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include media($bp-small) {
    height: 60px
  }
}

#main-badge > div {
	width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  // border-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  text-align: center;
  font-family: $main-headings;
  font-size: modular-scale(0, 1rem);
  line-height: modular-scale(0, 1rem);
  color: $black;
  padding: 5px;
  text-transform: uppercase;
  @include media($bp-small) {
    font-size: modular-scale(0, 0.8rem);
    line-height: modular-scale(0, 0.8rem);
    padding-top: 8px;
    height: 50px;
  }
  p {
	font-family: $main-headings;
	font-size: modular-scale(0, 1rem);
	line-height: modular-scale(0, 1rem);
	color: $black;
	margin-bottom: 0;
	padding: 5px; 
  }
}

.bk {
 background: darken($yellow, 5%);
 position: absolute;
 width: 8%;
 top: 12px;
 @include media($bp-small) {
   top: 18px;
 }
}

div.bk.l {
 left: 0;
}

div.bk.r {
 right: 0;
}

.skew {
  position: absolute;
  background: darken($yellow, 20%);
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  left: 5%;
  transform: skew(00deg,45deg);
}

.skew.r {
  right: 5%;
  transform: skew(00deg,-45deg);
}

.bk.l > div {
  left: -30px;
}

.bk.r > div {
  right: -30px;
}

.arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
	width: 0; 
	height: 0; 
  @include media($bp-small) {
    height: 30px !important;
  }
}

.arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
	border-bottom: 25px solid transparent; 	
	border-right: 30px solid darken($yellow, 5%); 
  @include media($bp-small) {
    border-bottom: 30px solid transparent;  
  }
}

.arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
	border-bottom:0px solid transparent; 	
	border-right: 30px solid darken($yellow, 5%); 
  @include media($bp-small) {
    border-top: 30px solid transparent; 
    top: 30px; 
  }
}

.r .bottom {
  border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 	
	border-left: 30px solid darken($yellow, 5%); 
  border-right: none;
  @include media($bp-small) {
    border-top: 30px solid transparent; 
  }
}

.r .top {
  border-bottom: 25px solid transparent;
	border-top: 0px solid transparent; 	
	border-left: 30px solid darken($yellow, 5%); 
  border-right: none;
  @include media($bp-small) {
    border-bottom: 30px solid transparent;  
  }
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}
