// Keeping type styles in here
//  part of 'template-part-gallery.php'

.project__gallery {
    width: 100%;
    position: relative;
    @include flexalignstart;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include media($bp-small) {
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-med) {
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($mobile-landscape) {
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-large) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        padding: 0 50px 20px;
    }
    @include media($tablet-landscape) {
        padding: 0 50px;
    }
}

.gallery__single {
    margin: 0 0 30px;
    position: relative;
    @include flex(0 0 100%);
    @include flexalignstart;
    @include flex-direction(column);
    @include media($bp-small) {
        @include flex(1 0 auto);
        @include flex-direction(column);
    }
    @include media($bp-med) {
        @include flex(1 0 auto);
        @include flex-direction(column);
    }
    @include media($mobile-landscape) {
        @include flex(1 0 auto);
        @include flex-direction(column);
    }
    @include media($bp-large) {
        @include flex-direction(row);
    }
}

.gallery__single-half {
    position: relative;
    @include media($bp-small) {
        @include flex(1 0 auto);
    }
    @include media($bp-med) {
        @include flex(1 0 auto);
    }
    @include media($mobile-landscape) {
        @include flex(1 0 auto);
    }
    @include media($bp-large) {
        @include flex(0 0 50%);
    }
}

.gallery__single-half.gallery-image {
    position: relative;
    @include media($bp-small) {
        @include flexboxcenter;
    }
    @include media($bp-med) {
        @include flexboxcenter;
    }
    @include media($mobile-landscape) {
        @include flexboxcenter;
    }
    img {
        position: relative;
        width: 100%;
        max-height: auto;        
    }
}

.gallery__single-half.gallery-caption {
    position: relative;
    background-color: rgba(0,0,0,0.9);
    padding: 40px;
    color: $white;
    @include media($bp-small) {
        padding: 30px;
    }
    p {
        margin: 0;
        font-size: modular-scale(0, 1rem);
        line-height: modular-scale(1, 1rem);
        font-weight: 300;
        // font-family: $lite-headings;
        @include media($bp-small) {
            font-size: modular-scale(0, 1rem);
            line-height: modular-scale(1, 1rem);
        }
    }
}

.gallery__single:nth-child(even) .gallery__single-half.gallery-image {
    @include order(2);
    @include media($bp-small) {
        @include order(-1);
    }
    @include media($bp-med) {
        @include order(-1);
    }
    @include media($mobile-landscape) {
        @include order(-1);
    }
    img {
        padding-right: 0;
        padding-left: 0;
    }
}

// in-content pictures
#in-content.gallery__single {
    margin: 0 -20%;
    @include media($bp-small) {
        margin: 20px 0;
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-med) {
        margin: 50px -20% 10px;
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($mobile-landscape) {
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-large) {
        margin: 50px -20%;
    }
}

// vidpic shortcode
#vidpic-content.gallery__single {
    margin: 0 -30%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include media($bp-small) {
        margin: 0;
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-med) {
        margin: 25px 0;
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($mobile-landscape) {
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    @include media($bp-large) {
        margin: 40px -25%;
    }
}

#vidpic-content.gallery__single {
    .gallery__single-half.gallery-image.vidpic-vid {
        position: relative;
        width: 120%;
        height: 450px;
        -webkit-overflow-scrolling: touch;
        @include flex(0 0 500px);
        @include media($bp-small) {
            height: 300px;
            width: 100%;
            margin: 0 0 25px;
            @include flex(0 0 300px);
        }
        @include media($bp-med) {
            height: 400px;
            width: 100%;
        }
        @include media($bp-large) {
            height: 290px;
        }
        @include media($bp-xlarge) {
            height: 500px;
        }
        iframe {
            position: relative;
            width: 100%;
            height: 100%;
            overflow-x:hidden;
            overflow-y:hidden;
        }
    }
}

#vidpic-content.gallery__single {
    .gallery__single-half.gallery-caption.vidpic-pic {
        background-color: transparent;
        padding: 0 0 0 20px;
        @include flex(0 1 auto);
        @include media($bp-small) {
            margin: 0 0 25px;
            padding: 0;
        }
        img {
            width: auto;
            max-height: 280px;
        }
    }
}
