.project__gallery {
    // margin-left: -50%;
    // margin-right: -50%;
    width: 100%;
    position: relative;
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(center);
    @include flex-direction(column);
    @include media($bp-large) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }
}

.gallery {
    // height: 500px;
}

.gallery__single {
    margin: 0 0 30px;
    position: relative;
    @include flex(0 0 100%);
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(center);
    @include flex-direction(column);
    @include media($bp-large) {
        @include flex-direction(row);
    }
}

.gallery__single-half {
    position: relative;
    min-height: 100vh;
    @include media($bp-large) {
        @include flex(0 0 50%);
        // max-height: 450px;
    }
    @include media($bp-small) {
        min-height: 100px;
    }
}

.gallery__single-half.gallery-image {
    position: relative;
    @include media($bp-small) {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
    }
    img {
        position: relative;
        width: 100%;
        max-height: auto;
        padding-right: 25px;
        
    }
}

.gallery__single-half.gallery-caption {
    position: relative;
    background-color: $yellow;
    padding: 25px;
    min-height: auto;
    p {
        margin: 0;
    }
}

.gallery__single:nth-child(even) .gallery__single-half.gallery-image {
    @include order(2);
    @include media($bp-small) {
        @include order(-1);
    }
    img {
        padding-right: 0;
        padding-left: 25px;
    }
}

.cell {
    height: 100%;
    width: 100%;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        min-height: 100%;
        z-index: 0;
        overflow: hidden;
    }
    header {
        @include outer-container;
        position: relative;
        z-index: 1;
        top: 50%;
        @include transform(translateY(-50%));
    }
    hgroup {
        @include span-columns(5);
        padding: 0 2em 0 2em;
        @include media($bp-large) {
            @include span-columns(7);
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 0;
        // @include filter(grayscale(100%) blur(1px));
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}