// TEMPLATES

#templates ul.template-links {
	list-style-type: none;
	// list-style-image: url('../../images/download.png'); 
	padding: 0;
	margin: 0;
	// https://www.gravatar.com/avatar/b9c1eafa90f9b895aff24750f7be1cbc?s=32&d=identicon&r=PG
	// ../../images/download.png
	li {
		height: 28px;
		padding-left: 40px;
		padding-top: 2px;
		margin-bottom: 10px;
		background: url(dist/images/download.png) no-repeat left center;
		a {
			text-decoration: none;
			color: $black;
		}
	}
}
