.blog-wrapper {
	position: relative;
	.diagonal-line {
	position: absolute;
	top: 0;
	left: 60%;
	height: 100%;
	width: 30%;
	background-color: $yellow;
	-webkit-transform: skew(15deg, 0);
	z-index: -1;
	}	
	.blog-entry {
		background: rgba(255,255,255,0.0);
	}
}
