.blog-wrapper,
.main-content {
	position: relative;
	.diagonal-line {
	position: absolute;
	top: 0;
	left: 60%;
	height: 100%;
	width: 30%;
	background-color: $yellow;
	-webkit-transform: skew(15deg, 0);
	z-index: -1;
	}	
	.blog-entry {
		background: rgba(255,255,255,0.0);
	}
}

// .diagonal-svg__wrapper {
// 	position: relative;
// 	.diagonal-svg {
// 		position: absolute;
// 		top: 0;
// 		height: 100%;
// 		width: 100%;
// 		z-index: -1;
// 	}
// }


