#contact-map {
	width: 100%;
	height: 100vh;
}

.contact-container {
	@include display(flex);
	@include align-items(flex-start);
	// @include justify-content(space-between);
	@include justify-content(center);
	@include flex-wrap(wrap);
	@include flex-direction(column);
	min-height: 100vh;
	@include media($bp-large) {
		@include flex-direction(row);
	}
}

.contact__single {
	background-color: $yellow;
	position: relative;
	min-height: 400px;	
	padding: 25px;
	margin: 1.5%;
	@include flex(0 0 47%);
}