#contact-map {
	width: 100%;
	min-height: 80vh;
}

.contact-container {
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include flex-wrap(wrap);
	@include flex-direction(column);
	@include media($bp-large) {
		@include flex-direction(row);
	}
	width: 100%;
	padding: 25px;
	@include media($bp-small) {
		min-height: 100vh;
		@include flex-direction(column);
	}
}

.contact__single {
	width: 100%;
	position: relative;
	// min-height: 400px;	
	padding: 0 25px;
	margin: 1.5%;
	@include flex(0 0 30%);
	@include media($bp-small) {
		padding: 0 25px 50px;
	}
	h3 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 15px;
		font-size: modular-scale(0, 1.3rem);
		line-height: modular-scale(1, 1.3rem);
	}
	button {
		padding: 10px 15px;
		color: $d-grey;
		margin-top: 20px;
		background-color: $yellow;
		// border: 1px solid $d-grey;
		border: none;
		&:hover {
			background-color: $black;
			color: $yellow;
			border: none;
		}
	}
	button.contact__email {
		margin-right: 20px;
	}
}