#contact-map {
	width: 100%;
	min-height: 80vh;
	@include media($mobile-landscape) {
		min-height: 90vh;
	}
}

#info-window-content {
	@include media($bp-xxlarge) {
		padding: 20px;
	}
}

.contact-container {
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include flex-wrap(wrap);
	@include flex-direction(column);
	@include media($mobile-landscape) {
		@include flex-direction(column);
	}
	@include media($bp-large) {
		@include flex-direction(row);
	}
	padding: 25px;
}

.contact__single {
	padding: 0 25px;
	margin: 1.5%;
	@include flex(0 0 30%);
	@include media($bp-small) {
		padding: 0 10px 50px;
		@include flex(1 0 auto);
	}
	@include media($mobile-landscape) {
		padding: 0 10px 50px;
		@include flex(1 0 auto);
	}
	button {
		width: 90%;
		height: 60px;
	}
	button.contact__email {
		margin-right: 20px;
	}
}