@import "../../components/neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
//$column: 20;
// $gutter: 2em;
$grid-columns: 5;

$max-width: em(1100);

// Major: Content centric breakpoints
$mobile-landscape: em(450);
$tab-landscape: em(1024);

// Portrait
$bp-xlarge: new-breakpoint(min-width 80em 12);
$bp-large: new-breakpoint(min-width 50em 12);
$bp-med: new-breakpoint(min-width 30em max-width 50em 12);
$bp-small: new-breakpoint(max-width 30em 5);

// Landscape
$mobile-landscape: new-breakpoint(max-height $mobile-landscape orientation landscape 2);
$tablet-landscape: new-breakpoint(max-width $tab-landscape orientation landscape 12);

// Visual Grid view
$visual-grid: false;
$visual-grid-color: #000;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;