.main-header {
	// width: 100%;
	height: 90px;
	background: $black;
	// background: yellow;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 7px rgba(0,0,0, 0.3);
	width: 100%;
}

.main-header.home {
	background-color: rgba(0,0,0,0.3);
	height: 70px;
	.main-wrapper {
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-end);
	}
}

.main-header {
	.main-wrapper {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		h1 {
			text-transform: uppercase;
			margin: 0;
			margin-top: 10px;
			font-size: modular-scale(0, 0.9rem); 
			line-height: modular-scale(0); 
		}
	}
	img {
		max-height: 65px;
		width: auto;
		margin-right: 15px;
		margin-top: 12px;
	}
	.default-nav {
		@include order(3);
		padding-top: 15px;
	}
}

.main-logo {
	max-height: 85px;
	width: auto;
	margin-right: 15px;
	margin-top: 12px;
}

.home-hero,
.default-hero {
	// background: black;
	width: 100%;
	background-position: center center;
	background-size: cover;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	hgroup {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
	}
	h2 {
		color: $white;
		text-align: center;
		margin: 20px 125px;
		@include media($bp-large) {
		    font-size: modular-scale(2); 
			line-height: modular-scale(2); 
		}
	}
}

.home-hero {
	min-height: 100vh;
	hgroup {
		margin-top: 100px;
		img {
			width: 200px;
			height: auto;
			margin-bottom: 25px;
		}
	}
}

.default-hero {
	width: 100%;
	min-height: 80vh;
}


nav.nav__mobile {
	display: none;
	@include media($bp-med, $bp-ls-small) {
		display: block;
	}
}