.main-header {
	// width: 100%;
	height: 90px;
	background: $black;
	// background: yellow;
	position: fixed;
	z-index: 999;
	// box-shadow: 0px 0px 7px rgba(0,0,0, 0.3);
	width: 100%;
}

.main-header.home {
	background-color: rgba(0,0,0,0.0);
	height: 70px;
	.main-wrapper {
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-end);
	}
}

.main-header {
	.main-wrapper {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		h1 {
			text-transform: uppercase;
			margin: 0;
			margin-top: 10px;
			font-size: modular-scale(0, 0.9rem); 
			line-height: modular-scale(0); 
		}
	}
	img {
		max-height: 65px;
		width: auto;
		margin-right: 15px;
		margin-top: 12px;
	}
	.default-nav {
		@include order(3);
		padding-top: 15px;
	}
}

.main-logo {
	max-height: 85px;
	width: auto;
	margin-right: 15px;
	margin-top: 12px;
}

.home-hero,
.default-hero {
	// background: black;
	width: 100%;
	background-position: center center;
	background-size: cover;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	hgroup {
		width: 100%;
		@include display(flex);
		// @include align-items(center);
		// @include justify-content(center);
		@include flex-direction(column);
	}
}

.home-hero {
	min-height: 100vh;
	hgroup {
		margin-top: 150px; //newnav
		@include media($bp-small) {
			margin-top: 5%;
		}
		@include media($mobile-landscape) {
			margin-top: 5%;
		}
		img {
			width: 200px;
			height: auto;
			margin-bottom: 25px;
		}
	}
	@include media($bp-small) {
		background-image: url('../images/site.jpg');
		// filter: grayscale(80%) brightness(0.6) opacity(1);
	}
	@include media($mobile-landscape) {
		background-image: url('../images/site.jpg');
		// filter: grayscale(80%) brightness(0.6) opacity(1);
	}
}

.default-hero {
	width: 100%;
	min-height: 100vh;
	position: relative;
	figure {
		position: absolute;
		top: 0;
		left: 0;
		background-position: center center;
		width: 100%;
		height: 100%; // or 100%?
		filter: grayscale(80%) brightness(0.6) opacity(1);
		z-index: 50;
	}
	hgroup {
		position: relative;
		z-index: 51;
		margin-top: 150px;
		@include media($bp-small) {
			margin-top: 5%;
		}
		@include media($mobile-landscape) {
			margin-top: 5%;
		}
	}
}

.default-hero.no-banner {
	color: $black;
	min-height: 50vh;
	h1 {
		color: $black;
		font-size: modular-scale(4);
		line-height: modular-scale(4, 1.3rem);
		// font-family: $p-font;
		font-family: $main-headings;
	}
}

.default-hero.blog-index,
.default-hero.project-index {
	min-height: 80vh;
	@include media($bp-small) {
		min-height: 50vh;
	}
}

.default-hero.project-index {
	hgroup {
		margin: 50px auto 0;
		h1,
		h2 {
			text-align: center;
		}
		h2 {
			margin: 0 auto;
		}
	}
}
