.main-header {
	// width: 100%;
	height: 90px;
	background: white;
	// background: yellow;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 7px rgba(0,0,0, 0.3);
	width: 100%;
}

.main-header {
	.main-wrapper {
		display: flex;
		align-items: center;
		h1 {
			text-transform: uppercase;
			margin: 0;
			margin-top: 10px;
			font-size: modular-scale(0, 0.9rem); 
			line-height: modular-scale(0); 
		}
	}
}

.main-logo {
	max-height: 85px;
	width: auto;
	margin-right: 15px;
	margin-top: 12px;
}

.home-hero,
.default-hero {
	background: black;
	width: 100%;
	background-position: center center;
	background-size: cover;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	hgroup {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
	}
	h2 {
		color: $white;
	}
}

.home-hero {
	min-height: 100vh;
}

.default-hero {
	width: 100%;
	min-height: 70vh;
}