.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  filter: grayscale(100%) brightness(0.7);
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


body {
	overflow-x: hidden;
}

.main-wrapper {
	// max-width: 1024px;
	// margin: auto;
	// padding: 0 50px 50px;
	@include outer-container;
	@include media($bp-small) {
		padding: 0 30px;
    }
}

.content-wrapper {
	padding-top: 120px;
	z-index: 998;
}

.main-content,
.blog-entry {
	position: relative;
	background-color: $white;
	padding: 50px 0;
	@include media($bp-large) {
		@include span-columns(8);
		@include shift(2);
    }
    img {
    	position: relative;
    	width: 100%;
		height: auto;
    }
    blockquote {
    }
    ul {
    	margin: 0;
    	li {
    		padding: 5px 0;
    	}
    }
}

.blog-entry {
	@include media($bp-large) {
		@include span-columns(8);
		@include shift(0);
		padding: 50px 25px;
    }
}

.blog-wrapper {

}

article {
	// margin-top: 50px;
	margin-bottom: 120px;
}

figure {
	margin: 0;
}

nav.main-nav {
	height: 75px;
	background-color: $white;
}

.hero {
	height: 350px;
	margin-left: -50%;
	margin-right: -50%;
	background-position: center center;
	background: lightgrey;
}


.full-width.full-image { 
  text-align:center;
  margin-left:-100%;
  margin-right:-100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // max-height: 50vh;
  overflow: hidden;
  height: 500px;
  img {
  	width: 100%;
  	overflow: hidden;
  	// margin: 25px 0;
  	margin: 0 auto;
  }
}

.full-width.full-quote { 
	overflow-x: hidden;
	font-family: $p-font;
	font-style: italic;
	font-weight: 600;
	font-size: modular-scale(2);
	line-height: modular-scale(3);
	text-align: center;
	padding: 40px 0;
	p {
		color: $yellow;
		font-family: $p-font;
		font-style: italic;
		font-weight: 600;
		font-size: modular-scale(2);
		line-height: modular-scale(3);
		text-align: center;
	}
	@include media($bp-large) {
		text-align:center;
		margin-left: -10%;
		margin-right: -10%;
	}
	@include media($bp-small) {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
}

span.big-quotes {
	font-size: modular-scale(3);
	line-height: modular-scale(4);
	text-align: center;
}



