body {
	overflow-x: hidden;
}

.main-wrapper {
	// max-width: 1024px;
	// margin: auto;
	// padding: 0 50px 50px;
	@include outer-container;
	@include media($bp-small) {
		padding: 0 30px;
    }
}

.content-wrapper {
	padding-top: 120px;
	z-index: 998;
}

.main-content,
.blog-entry {
	position: relative;
	background-color: $white;
	padding: 50px 0;
	@include media($bp-large) {
		@include span-columns(8);
		@include shift(2);
    }
    img {
    	position: relative;
    	width: 100%;
		height: auto;
    }
    blockquote {
    }
    ul {
    	margin: 0;
    	li {
    		padding: 5px 0;
    	}
    }
}

.blog-entry {
	// padding: 50px 20px;
}

article {
	// margin-top: 50px;
	margin-bottom: 120px;
}

figure {
	margin: 0;
}

nav.main-nav {
	height: 75px;
	background-color: $white;
}

.hero {
	height: 350px;
	margin-left: -50%;
	margin-right: -50%;
	background-position: center center;
	background: lightgrey;
}


.full-width.full-image { 
  text-align:center;
  margin-left:-100%;
  margin-right:-100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // max-height: 50vh;
  overflow: hidden;
  height: 500px;
  img {
  	width: 100%;
  	overflow: hidden;
  }
}

.full-width.full-quote { 
  overflow-x: hidden;
  font-family: $p-font;
  font-style: italic;
  font-weight: 600;
  font-size: modular-scale(2);
  line-height: modular-scale(3);
  text-align: center;
  padding: 40px 0;
  p {
  font-family: $p-font;
  font-style: italic;
  font-weight: 600;
  font-size: modular-scale(2);
  line-height: modular-scale(3);
  text-align: center;
  }
  @include media($bp-large) {
    text-align:center;
    margin-left: -25%;
    margin-right: -25%;
  }
  @include media($bp-small) {
    font-size: modular-scale(1);
    line-height: modular-scale(2);
  }
}

span.big-quotes {
	font-size: modular-scale(3);
	line-height: modular-scale(4);
	text-align: center;
}



