body {
	overflow-x: hidden;
}

.main-wrapper {
	// max-width: 1024px;
	// margin: auto;
	// padding: 0 50px 50px;
	overflow-x: hidden;
	@include outer-container;
	@include media($bp-small) {
		padding: 0 30px;
    }
    @include media($bp-med) {
		padding: 0 30px;
    }
}

.content-wrapper {
	padding-top: 120px;
	z-index: 998;
}

.main-content,
.blog-entry {
	position: relative;
	// background-color: $white;
	background-color: none;
	padding: 50px 0;
	@include media($bp-large) {
		@include span-columns(8);
		@include shift(2);
    }
    img {
    	position: relative;
    	width: 100%;
		height: auto;
    }
    blockquote {
    	margin: 0;
    	border-left: 0;
		@include media($bp-small) {
			font-size: modular-scale(0, 1.5rem);
			line-height: modular-scale(1, 1.5rem);
			p {
				font-size: modular-scale(0, 1.5rem);
				line-height: modular-scale(1, 1.5rem);
			}
	    }
    }
    ul {
    	margin: -15px 0 15px 0;
    	li {
    		padding: 7px 0;
    	}
    }
}

.main-content {
	padding: 50px 25px;
	@include media($bp-small) {
		padding: 40px 10px;
    }
}

.blog-entry {
	@include media($bp-large) {
		@include span-columns(8);
		@include shift(0);
		padding: 50px 25px;
		padding-right: 50px;
    }
}

.cta-wrapper {

}

article {
	// margin-top: 50px;
	margin-bottom: 120px;
}

figure {
	margin: 0;
}

nav.main-nav {
	height: 75px;
	background-color: $white;
}

// CALL TO ACTION PANELS
.industry-cta {
	min-height: 400px;
	background-color: $yellow;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include media($bp-small) {
		min-height: 80vh;
	}
	a {
		padding-bottom: 2px;
		// border-bottom: 2px solid rgba(255,255,255,0.4);
	}
	i {
		margin-right: 10px;
	}
	.content-wrapper {
		h2 {
			margin: 0px 8%; 
			@include media($bp-small) {
				margin: 20px 0;
			}
		}
		a button {
			min-width: 150px;
			min-height: 50px;
		}
	}
}

.cta-contact {
	@include flex-direction(column);
	@include media($bp-large) {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(row);
	}
	@include media($bp-med) {
		margin-top: 25px;
	}
}

.hero {
	height: 350px;
	margin-left: -50%;
	margin-right: -50%;
	background-position: center center;
	background: lightgrey;
}


.full-width.full-image { 
  text-align:center;
  margin-left:-100%;
  margin-right:-100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // max-height: 50vh;
  overflow: hidden;
  height: 500px;
  img {
  	width: 100%;
  	overflow: hidden;
  	// margin: 25px 0;
  	margin: 0 auto;
  }
}

.full-width.full-quote { 
	overflow-x: hidden;
	font-family: $p-font;
	font-style: italic;
	font-weight: 600;
	font-size: modular-scale(2);
	line-height: modular-scale(3);
	text-align: center;
	padding: 40px 0;
	p {
		color: $yellow;
		font-family: $p-font;
		font-style: italic;
		font-weight: 600;
		font-size: modular-scale(2);
		line-height: modular-scale(3);
		text-align: center;
	}
	@include media($bp-large) {
		text-align:center;
		margin-left: -10%;
		margin-right: -10%;
	}
	@include media($bp-small) {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
	}
}

span.big-quotes {
	font-size: modular-scale(3);
	line-height: modular-scale(4);
	text-align: center;
}

// 404/Search

button#we-owe-you {
	padding: 10px 15px;
	max-width: 300px;
	color: $d-grey;
	margin: 20px 10%;
	background-color: $yellow;
	// border: 1px solid $d-grey;
	border: none;
	text-transform: uppercase;
	font-family: $lite-headings;
	&:hover {
		background-color: $black;
		color: $yellow;
		border: none;
	}
}

.search-error-page {
	margin: 15px 10%;
}

.error-submit {
	text-transform: uppercase;
	font-family: $lite-headings;
	background-color: $yellow;
	color: $black;
	border: 0;
}


