// PROJECTs Landing Page
.projects__panel-container {
	width: 100%;
	margin-top: 50px;
	position: relative;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);	
}

.projects__panel-link {
	width: 100%;
	transition: all 0.2s;
	&:hover .projects__panel-wrap .projects__panel-img { 
		filter: grayscale(0.0);
		background-blend-mode: normal;
		filter: brightness(0.3);
	}
}

.projects__panel-wrap {
	position: relative;
	height: 300px;
	@include media($bp-small) {
	    height: 150px;
	}
	@include media($bp-med) {
	    height: 200px;
	}
	@include media($bp-large) {
	    height: 300px;
	}
	h2 {
		position: absolute;
		top: 30%;
		// bottom: 10%;
		left: 5%;
		right: 5%;
		text-align: center;
		margin: 0 auto;
		// padding-top: 100px;
		@include media($bp-small) {
		    top: 50%;
		}
		@include media($bp-med) {
		    font-size: modular-scale(3); 
			line-height: modular-scale(3); 
			top: 35%;
		}
		@include media($bp-large) {
		    font-size: modular-scale(5); 
			line-height: modular-scale(5); 
		}
	}
	.projects__panel-img {
		width: 100%;
		height: 100%;
		// height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		// margin-bottom: 40px;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.2s;
		// -webkit-transform: skew(16deg, 0);
		padding: 25px;
		filter: grayscale(0.0);
		background-blend-mode: overlay;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		.color-overlay {
			width: 100%;
			height: 100%;
			background-color: rgba(252, 216, 56, 0.4);
			filter: brightness(0.6);
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.2s;
		}
	}
}

// Single PROJECT Page

.project__stats {

}

.project__testimonial {
	blockquote {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-right: -70px;
		border-left: 5px solid lightgrey;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		@include media($bp-med) {
		    margin-right: -10px;
		}
		@include media($bp-small) {
		    margin-top: 40px;
		    margin-bottom: 40px;
		    padding-left: 15px;
		    margin-left: 10px;
		    margin-right: 10px;
		}
	}
	blockquote:before {
	    content: '“';
	    position: absolute;
	    margin-left: -.45em;
	    font-size: modular-scale(3, 1.8rem);
	    @include media($bp-small) {
	    	font-size: modular-scale(2);
	    	margin-top: -10px;
	    }
	}
	blockquote:after {
	    content: '”';
	    font-size: modular-scale(2, 1.3rem);
	    @include media($bp-small) {
	    	font-size: modular-scale(1);
	    }
	}
	p {
		text-align: right;
	}
}