// PROJECTs Landing Page
.projects__panel-container {
	margin-top: 50px;
}

.projects__panel {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	// margin-bottom: 40px;
	position: relative;
	transition: all 0.5s;
	filter: grayscale(0.7);
	// -webkit-transform: skew(16deg, 0);
	padding: 25px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	&:hover {
		filter: grayscale(0.0);
		.color-overlay {
			background-color: rgba(0,0,0,0.0);
			filter: brightness(0.7);
		}
	}
	.color-overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.5s;
	}
	h2 {
		position: relative;
		text-align: center;
		margin: 0 auto;
		// padding-top: 100px;
	}
}

// Single PROJECT Page

.project__stats {

}

.project__testimonial {
	blockquote {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-right: -70px;
		border-left: 5px solid lightgrey;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		@include media($bp-med) {
		    margin-right: -10px;
		}
		@include media($bp-small) {
		    margin-top: 40px;
		    margin-bottom: 40px;
		    padding-left: 15px;
		    margin-left: 10px;
		    margin-right: 10px;
		}
	}
	blockquote:before {
	    content: '“';
	    position: absolute;
	    margin-left: -.45em;
	    font-size: modular-scale(3, 1.8rem);
	    @include media($bp-small) {
	    	font-size: modular-scale(2);
	    	margin-top: -10px;
	    }
	}
	blockquote:after {
	    content: '”';
	    font-size: modular-scale(2, 1.3rem);
	    @include media($bp-small) {
	    	font-size: modular-scale(1);
	    }
	}
	p {
		text-align: right;
	}
}