aside {
	border-top: 4px solid $black;
	@include media($bp-large) {
		@include span-columns(2);
		@include shift(1);
		height: 100%;
		margin-top: 70px;
		padding-top: 25px;
    }
	// margin-top: 10px;
	@include media($bp-small) {
		display: none;
    }
    p {
    	margin: 0;
    	font-size: modular-scale(0, 1rem);
    }
    ul {

    }
}

.sidebar__nav ul {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 0;
	li {
		// padding: 5px 0;
	}
}

