aside {
	@include media($bp-small) {
		padding-top: 50px;
		padding-bottom: 25px;
		display: block;
		border-right: none;
		border-bottom: 4px solid $black;
    }
	@include media($bp-med) {
		padding-top: 50px;
		padding-bottom: 25px;
		display: block;
		border-right: none;
		border-bottom: 4px solid $black;
    }
    @include media($bp-large) {
		@include span-columns(2);
		@include shift(1);
		height: 100%;
		margin-top: 50px;
		padding-top: 5px;
		padding-right: 30px;
		text-align: right;
		border-right: 4px solid $black;
		border-bottom: none;
    }
    p {
    	margin: 0;
    	font-size: modular-scale(0, 1rem);
    }
    ul.post-categories {
    	list-style-type: none;
    	padding-left: 0;
    	padding-bottom: 0;
    	text-transform: uppercase;
    	font-size: modular-scale(0, 0.9rem);
    	line-height: modular-scale(0, 0.9rem);
    	li {

    	}
    }
}

