// .team__container {
// 	position: relative;
// 	padding: 0 50px;
// 	@include display(flex);
// 	@include align-items(flex-start);
// 	@include justify-content(center);
// 	@include flex-wrap(wrap);
// 	.team__single {
// 		@include flex(0 0 30%);
// 		margin: 0 1.5%;
// 		img {
// 			position: relative;
// 			max-width: 100%;
// 			height: auto;
// 		}
// 	}
// }

.team__container {
	position: relative;
	padding: 0;
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include flex-direction(column);
	.team__single {
		background-color: $yellow;
		position: relative;
		min-height: 200px;
		width: 100%;
		// margin-bottom: 25px;
		// transition: all 0.5s;
		border-bottom: 2px solid $black;
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(center);
		@include flex-direction(column);
		@include media($bp-large) {
			min-height: 300px;
			border-bottom: 0;
		}
		&:hover {
			cursor: pointer;
			background-color: $black;
			hgroup h3,
			hgroup h4,
			.team__creds {
				color: $yellow;
			}
			@include media($bp-small) {
				background-color: $yellow;
				hgroup h3,
				hgroup h4,
				.team__creds {
					color: $black;
				}
			}
		}
		figure {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 100%;
			filter: grayscale(100%) brightness(0.9);
			z-index: 3;
		}
		hgroup {
			position: relative;
			padding: 0 25px;
			z-index: 4;
			// transition: all 0.5s;
		}
	}
}

.drop-down-panel {
	padding: 50px 25%;
	display: none;
	min-height: 300px;
	background: $black;
	width: 100%;
	color: $white;
	position: relative;
	button {
		color: $black;
		background-color: $yellow;
		border: none;
		padding: 10px 15px;
		// transition: all 0.5s;
		margin-top: 25px;
		&:hover {
			background-color: darken($yellow, 20%); 
		}
	}
}

button.drop-down-cross {
	width: 80px;
	height: 80px;
	position: absolute;
	background-color: $black;
	right: 50px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../ingenuity/dist/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
}

.push__longbio {
	ul {
		margin-top: -20px;
		li {
			padding-bottom: 10px;
		}
	}
}


