$title-font: "Audimat3000-Regulier",sans-serif;
$p-font: "leitura-news", serif;
$main-headings: "Audimat3000-Regulier",sans-serif;
$lite-headings: "Audimat3000-Leger", sans-serif;

$bold-font: "Audimat3000-Regulier", sans-serif;
$main-body-font: $p-font;


//	Modular Scale
$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1.5rem;

// Sizes
$base-line-height: $modular-scale-base * 1.5;
$base-border-radius: rem(3);

// Colors
$white: 	rgba(255, 255, 255, 1);
$black: 	rgba(0, 0, 0, 1);
$grey: 		rgba(151, 151, 151, 1);
$d-grey:	rgba(79, 79, 79, 1);

$yellow:	rgba(252, 216, 56, 1);

// Buttons

// Font Colors

// Link Colors

// Border color