aside {
	@media #{$bp-small} {
		padding-top: 50px;
		padding-bottom: 25px;
		display: block;
		border-right: none;
		border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    }
	@media #{$bp-med} {
		padding-top: 50px;
		padding-bottom: 25px;
		display: block;
		border-right: none;
		border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    }
    @media #{$bp-large} {
		// @include span-columns(2);
		// @include shift(0);
		height: 100%;
		margin-top: 50px;
		padding-top: 5px;
		padding-right: 30px;
		text-align: right;
		border-right: 4px solid rgba(0, 0, 0, 0.8);
		border-bottom: none;
    }
}

.main-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

aside p {
    font-size: 16px;
    line-height: 16px;
}

.main-wrapper {
    aside { 
        @media #{$medium-and-up} {
			width: 15%;
            display: inline-block;
		}
    }
    .blog-entry {
        margin-top: 40px;
        @media #{$medium-and-up} {
			display: inline-block;
            width: 80%;
            vertical-align: top;
            margin-top: 0px;
		}
    }
}

.project__testimonial {
	background-color: rgba(0,0,0,0.9);
	padding: 50px 10%;
	margin: 0 0 50px;
}

.testimonial__creds {
	text-align: right;
	padding-right: 50px;
	@media #{$bp-small} {
		padding-right: 20px;
	}
}

.project__testimonial {
	.testimonial__quotation {
		@media #{$bp-small} {
			margin: 0 0 0 15px;
		    font-size: modular-scale(1, 1.1rem); 
		    line-height: modular-scale(1, 1.1rem); 
		}
	}
	.testimonial__creds {
		color: rgba(255,255,255,0.4);
		@media #{$bp-small} {
			h4 {
				margin-top: 20px;
				font-size: modular-scale(1, 1rem); 
				line-height: modular-scale(1, 1rem); 
			}
			h5 {
				font-size: modular-scale(0, 1rem); 
				line-height: modular-scale(0, 1rem);
			}
		}
	}
}

// SINGLE PROJECT ============================

// Project Testomonial

.project__testimonial {
	@media #{$bp-small} {
		font-size: modular-scale(2);
	}
	@media #{$mobile-landscape} {
		font-size: modular-scale(2);
	}
	blockquote {
		color: $white;
		&:before {
		    content: '“';
		    position: absolute;
		    margin: -40px -0.5em;
		    font-size: 200px;
		    color: rgba(255,255,255,0.3);
		    @media #{$bp-small} {
		    	font-size: modular-scale(5);
		    	margin: 10px -0.5em;
		    }
		}
		&:after {
		    content: '”';
		    font-size: modular-scale(2, 1.3rem);
		    color: rgba(255,255,255,0.3);
		    @media #{$bp-small} {
		    	font-size: modular-scale(1);
		    }
		}
    }
    h4, h5 {
        margin: 0;
    }
    h4 {
        font-size: 32px;
    }
    h5 {
        font-size: 13px;
        line-height: 13px;
        margin-top: 4px;
    }
}

.project-nav__arrow {
	p {
		margin: 0;
		font-family: $main-headings;
	}
}

//  Arrow Buttons

.project-nav {
	margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	a {
		&:hover {
			.project-nav__arrow {
				color: $black;
				background-color: $yellow;
			}
		}
	}
}

.project-nav__arrow {
	position: relative;
	width: 150px;
	height: 50px;
	// margin-left: 40px;
	color: $black;
	background-color: transparent;
	text-align:center;
	// line-height:40px;
	border: 2px solid $black;
    // @include flexboxcenter;
    display: flex;
    align-items: center;
    justify-content: center;
	@media #{$bp-med} {
		width: 200px;
		height: 80px;
	}
	@media #{$bp-large} {
		width: 400px;
		height: 100px;
	}
}

.project-nav__arrow--prev {
	margin: 0 10px 0 0;
	@media #{$bp-small} {
		margin-right: 0px;
	}
	@media #{$bp-small} {
		margin-bottom: 10px;
	}
	@media #{$bp-med} {
		margin-bottom: 0;
	}
}

.project-nav__arrow--next {
	margin: 0 0 0 10px;
	@media #{$bp-small} {
		margin-left: 0px;
	}
}

.project__testimonial blockquote {
	font-family: $main-headings;
    @media #{$medium-and-up} {
		font-size: 43px; 
        line-height: 1;
        font-style: italic; 
	}
}