.two-column {
	margin: 60px -25% 60px -20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
	@media #{$bp-small} {
		margin: 40px -5%;
	}
	@media #{$bp-med} {
		margin: 40px -5%;
	}
	@media #{$mobile-landscape} {
		margin: 40px -5%;
	}
	@media #{$bp-large} {
		flex-direction: row;
		margin: 60px -25% 60px -20%;
	}
}

.two-column__half {
	@media #{$bp-large} {
		width: 50%;
	}
	@media #{$bp-small} {
	}
}

.services-approach {
    h3 {
        text-align: center;
    }
    h4 {
        margin-top: 0;
    }
    .two-column {
        margin-top: 30px;
        justify-content: space-between
    }
    .two-column__half {
        @media #{$bp-large} {
			width: 45%;
			margin-bottom: 24px;
        }
        @media #{$bp-small} {
        }
    }
}

.services-testimonial {
	padding: 0 70px 25px 0;
	@media #{$bp-small} {
		padding: 25px 15px 50px;
	}
	@media #{$bp-med} {
		padding: 25px;
	}
	@media #{$bp-large} {
		padding: 0 70px 25px 0;
	}
	@media #{$mobile-landscape} {
		padding: 0 15px 25px;
	}
	@media #{$bp-large} {
		width: 60%;
	}
}

.services-cta {
	background: $yellow;
	padding: 40px;
	@media #{$bp-small} {
		padding: 30px;
	}
	@media #{$bp-large} {
		width: 40%;
	}
	@media #{$mobile-landscape} {
		padding: 30px;
	}
}


.services-testimonial {
	blockquote {
		margin: 0;
		font-style: italic;
		font-weight: 400;
		font-family: $p-font;
		font-size: 32px;
		line-height: 34px;
		position: relative;
		@media #{$small-and-down} {
			font-size: 24px;
			line-height: 1.3;
		}
		p {
			font-style: italic;
			font-size: modular-scale(1, 1.5rem);
			line-height: modular-scale(1, 1.6rem);
			font-weight: 400;
			font-family: $p-font;
			text-transform: none;
		}
		@media #{$bp-small} {
			font-size: modular-scale(1, 1.1rem);
			line-height: modular-scale(1, 1.1rem);
		}
		&:before {
		    content: '“';
		    position: absolute;
		    margin-left: -.4em;
		    font-size: 90px;
		    font-family: $main-headings;
			color: rgba(0,0,0,0.1);
			@media #{$small-and-down} {
				top: -30px;
				left: 10px;
				font-size: 120px;
			}
		}

		&:after {
		    content: '”';
		    font-family: $main-headings;
		    color: rgba(0,0,0,0.2);
		}
	}
	h4 {
		margin: 0;
		margin-top: 25px;
		text-align: right;
		text-transform: uppercase;
		font-size: 32px;
		line-height: 36px;
	}
	h5 {
		text-align: right;
		margin: 0;
		font-size: 13px;
		line-height: 13px;
	}
	p.testimonial__caption {
		font-family: $lite-headings;
		padding-top: 5px;
		padding-left: 100px;
		text-align: right;
		text-transform: uppercase;
		font-size: modular-scale(0, 0.9rem);
		line-height: modular-scale(0, 1rem);
		font-size: 14px;
		line-height: 16px;
		margin: 0;
	}
}

#space-uptop {
	padding-top: 15px;
	margin-bottom: 0;
}

.services-cta {
	p {
		font-family: $lite-headings;
		font-size: modular-scale(2, 1.3rem);
		line-height: modular-scale(2, 1.3rem);
		@media #{$bp-small} {
			font-size: modular-scale(1, 1.3rem);
			line-height: modular-scale(1, 1.3rem);
		}
		@media #{$mobile-landscape} {
			font-size: modular-scale(1, 1.3rem);
			line-height: modular-scale(1, 1.3rem);
		}
	}
}

.services-cta__btn {
	font-family: $lite-headings;
	text-transform: uppercase;
	background-color: $black;
	color: $white;
	border: none;
	font-weight: bold;
	padding: 15px 30px;
	height: 60px;
	font-size: modular-scale(0, 1.1rem);
	line-height: modular-scale(0, 1.1rem);
	border: 1px solid $black;
	// transition: all 0.2s;
	// letter-spacing: 1px;
	&:hover {
		border: 2px solid $black;
		color: $black;
		background-color: $white;
		// font-weight: 400;
	}
}

.other-services {
	text-align: center;
	padding: 50px 0;
	h3 {
		@media #{$small-and-down} {
			font-size: 32px;
			line-height: 1.3;
		}
	}
	a {
		text-decoration: none;
		display: inline-block;
		margin: 0 8px;
		height: auto;
		border: 2px solid black;
		@media #{$small-and-down} {
			margin: 10px;
		}
	}
}
