// Contact Map

#contact-map {
	width: 100%;
	min-height: 80vh;
	@include media($mobile-landscape) {
		min-height: 90vh;
	}
}

#info-window-content {
	@include media($bp-xxlarge) {
		padding: 20px;
	}
}

// Moving Section

.contact-moving {
	position: relative;
	background-color: $yellow;
	z-index: 28;
	@include flexboxcenter;
	@include media($bp-small) {
		@include flex-direction(column);
	}
	@include media($bp-large) {
		min-height: 300px;
	}
	h3 {
		font-family: $main-headings;
		margin-bottom: 15px;
	}
	h6 {
		margin-top: 0;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 0;
	}
	&:after {
		content:"";
		position: absolute;
		left: 50%;
		top: 0;
		width: 0px;
		height: 0px;
		border-top:25px solid transparent;
		border-left:40px solid $yellow;
		border-bottom:25px solid transparent;
		@include media($bp-small) {
			left: 42%;
			top: 240px;
			transform: rotate(90deg);
			border-top:60px solid transparent;
			border-left: 50px solid $yellow; // how far out the point goes
			border-bottom:60px solid transparent;
		}
		@include media($bp-med) {
			border-top:40px solid transparent;
			border-left:60px solid $yellow; // how far out the point goes
			border-bottom:40px solid transparent;
		}
		@include media($bp-large) {
			border-top:151px solid transparent;
			border-left:100px solid $yellow; // how far out the point goes
			border-bottom:151px solid transparent;
		}
	}
}

#move-map {
	z-index: -2;
}

.contact-moving__half {
	position: relative;
	padding: 50px 0;
	@include flex(0 0 50%);
	@include media($bp-small) {
		@include flex(1 0 auto);
	}
}

.contact-moving__half.move-arrow {
	padding: 0 0 0 10%;
	@include media($bp-small) {
		padding: 30px;
		height: 300px;
	}
	p {
		font-family: $lite-headings;
		font-size: modular-scale(0);
		line-height: modular-scale(0);
	}
	p:last-child {
		// padding-left: 10px;
		padding-top: 10px;
		font-size: modular-scale(1);
		line-height: modular-scale(1, 1.7rem);
		@include media($bp-small) {
			font-size: modular-scale(0);
			line-height: modular-scale(1);
		}
		a {
			color: $d-grey;
		}
	}
}

.contact-moving__half#move-map {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: $white;
	padding: 0;
}

.new-address {
	font-family: $main-headings;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	&:hover {
		background-color: $black;
		color: $yellow;
		cursor: pointer;
	}
}


// Contact Columns

.contact-container {
	position: relative;
	padding: 25px;
	@include flexalignstart;
	@include flex-wrap(wrap);
	@include flex-direction(column);
	@include media($mobile-landscape) {
		@include flex-direction(column);
	}
	@include media($bp-large) {
		padding: 50px 25px;
		@include flex-direction(row);
	}
}

.contact__single {
	padding: 0 25px;
	margin: 1.5%;
	@include display(flex);
	@include align-content(space-between);
	@include justify-content(space-between);
	@include flex-direction(column);
	@include flex(0 0 30%);
	@include media($bp-small) {
		padding: 0 10px 50px;
		@include flex(1 0 auto);
	}
	@include media($mobile-landscape) {
		padding: 0 10px 50px;
		@include flex(1 0 auto);
	}
	@include media($bp-large) {
		min-height: 400px;
	}
	@include media($bp-xlarge) {
		min-height: 400px;
	}
	@include media($bp-xxlarge) {
		min-height: 380px;
	}
	.contact__single__buttons {
		button {
			font-family: $main-headings;
			font-size: modular-scale(0, 1.3rem);
			width: 90%;
			height: 60px;
			@include media($bp-large) {
				font-size: modular-scale(0);
			}
			@include media($bp-xlarge) {
				font-size: modular-scale(1);
			}
		}
		button.contact__email {
			margin-right: 20px;
		}
	}
	h3 {
		margin-top: 25px;
		font-size: modular-scale(0);
		line-height: modular-scale(0);
		@include media($bp-large) {
			font-size: modular-scale(0);
			line-height: modular-scale(0);
		}
		@include media($bp-xlarge) {
			font-size: modular-scale(1);
			line-height: modular-scale(1);
		}
		span {
			padding-bottom: 10px;
			border-bottom: 1px solid $grey;
			&:hover {
				border-bottom: 1px solid $yellow;
			}
		}
	}
}